<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutGap="10px">
  <cw-entity-list fxFlex="15"></cw-entity-list>
  <ng-container [ngSwitch]="(selectedEntity | async)?.entityType">
    <cw-family-details *ngSwitchCase="entityTypes.Family" fxFlex="55"></cw-family-details>
    <div *ngSwitchCase="entityTypes.NPP" fxFlex="55">Coming Soon!! Adult</div>
    <cw-participant-details *ngSwitchCase="entityTypes.Participant" fxFlex="55">Coming Soon!! Participant</cw-participant-details>
    <div *ngSwitchCase="entityTypes.Other" fxFlex="55">Coming Soon!! Other</div>
    <md-card *ngSwitchDefault fxFlex="55">Please select an entry from the left.</md-card>
  </ng-container>
  <cw-relationship-graph fxFlex="30"></cw-relationship-graph>
</div>
<style>
  /* TODO: take advantage of flex*/
  cw-relationship-graph{
    margin-right: 10px;
    height: calc(75vh - 64px);
  }
</style>