<nav class="navbar navbar-default"
	 [class.navbar-default]="!style.dark"
	 [class.navbar-inverse]="style.dark">
	<div class="container-fluid" >
    <div class="navbar-header">
    	<a class="logo pull-left" href="#"><img class="sm-img" src="/assets/img/childwatch.png"/></a>
        <span class="name pull-left"><strong>ChildWatch</strong></span>
    </div>
    	<div class="collapse navbar-collapse" id="myNavbar">
    	<ul class="nav navbar-nav navbar-right">
	        <li><i class="fa fa-navicon fa-2x navbar-text" (click)="_toggleSidebar()"></i></li>  					         		
    	</ul>
    	</div>
    </div>
</nav>
