<div class="main-content">
	<div class="container-fluid" style="overflow:visible">
		<div #header class="row">
			<h3>Header</h3>
		</div>
		<div #body class="row">
		
			<!-- Left -->

			<div class="col-md-4">
				<div class="card ">
            		<div class="card-content">
						<div class="list-group">
							<a *ngFor="let meal of Meals" 
								(click)="selectMeal(meal)"
								class="list-group-item" 
								[class.active]="selectedMeal && meal.id === selectedMeal.id">
								
								<i class="cw-icon" 
								   [class.icon-breakfast]="meal.type === 'BREAKFAST'"
								   [class.icon-snack]="meal.type === 'AM_SNACK' || meal.type === 'PM_SNACK' || meal.type == null"
								   [class.icon-lunch]="meal.type === 'LUNCH'"		
								   [class.icon-dinner]="meal.type === 'DINNER'"
								style="font-size: 2em"></i> 
								{{meal.description}}
							</a>
						</div>
						<div class="btn-group" dropdown>
							<button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
								<i class="fa fa-plus"></i> Add Meal <span class="caret"></span>
							</button>
							<ul *dropdownMenu class="dropdown-menu" role="menu">
								<li role="menuitem"><a class="dropdown-item" (click)="addMenuItem({type:'BREAKFAST'})">Breakfast</a></li>
								<li role="menuitem"><a class="dropdown-item" (click)="addMenuItem({type:'AM_SNACK'})">AM Snack</a></li>
								<li role="menuitem"><a class="dropdown-item" (click)="addMenuItem({type:'LUNCH'})">Lunch</a></li>
								<li role="menuitem"><a class="dropdown-item" (click)="addMenuItem({type:'PM_SNACK'})">PM Snack</a></li>
								<li role="menuitem"><a class="dropdown-item" (click)="addMenuItem({type:'DINNER'})">Dinner</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Right -->
			<div class="col-md-8">
				<cw-meal-detail></cw-meal-detail>
			</div>
			
		</div>
	</div>
</div>

