<div class="row">
	<h3 class="text-primary">Food Items <small>Age appropriate</small></h3>	
	<div *ngIf="show" class="pull-right">
		<input class="search" type="text" [(ngModel)]="search"  (input)="searchList()" placeholder="Search..."/>
		<i *ngIf="search" (click)="search=undefined;searchList()" class="text-danger fa fa-close"></i>
		<a *ngIf="false"><span><i class="fa fa-plus"></i> Add...</span></a>
		<span dropdown container="body">
			<a dropdownToggle (click)="false"><i class="fa fa-filter"></i> Filter<span *ngIf="filter !== 'ALL'">: <strong>{{filter.toUpperCase()}}</strong></span></a>
			<ul *dropdownMenu class="dropdown-menu">
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'ALL' )">SHOW ALL</a></li>
				<li class="divider dropdown-divider"></li>
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'MILK' )">Milk</a></li>
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'VEGETABLE' )">Vegetables</a></li>
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'FRUIT' )">Fruit</a></li>
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'MEAT' )">Meats</a></li>
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'GRAIN' )">Grains</a></li>
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'OTHER' )">Other</a></li>
				<li class="divider dropdown-divider"></li>
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'CEREAL' )">Cereal</a></li>				
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'MEATALT' )">Meat Alternative</a></li>				
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'BREAD' )">Bread</a></li>				
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'CHEESE' )">Cheese</a></li>				
				<li ><a class="dropdown-item" (click)="filterFoodItems( 'CRACKER' )">Cracker</a></li>				
				<li class="divider dropdown-divider"></li>
				<li><a class="dropdown-item" (click)="filterFoodItems( 'CNITEM' )">CN Item</a></li>								
				<li *ngIf="false"><a class="dropdown-item disabled">Favorites</a></li>
			</ul>
		</span>
	</div>		
	<br />
</div>


<div *ngIf="!show">
	<p><strong><em>Set a meal name/type to show food items</em></strong></p>
</div>

<div class="row" *ngIf="show">
	<table class="table table-condensed" >
		<tr *ngFor="let foodItem of pagedFoodItems()" dnd-draggable [dragEnabled]="true" [dragData]="foodItem" >
			<td class="col=sm-1">
					<img class="small-img" *ngIf="FoodItemUtils.category(foodItem) === 'MILK'" src="/assets/img/food/flaticon/milk.svg" />
					<img class="small-img" *ngIf="FoodItemUtils.category(foodItem) === 'MEAT'" src="/assets/img/food/flaticon/meat.svg" />
					<img class="small-img" *ngIf="FoodItemUtils.category(foodItem) === 'VEGETABLE'" src="/assets/img/food/flaticon/vegetable.svg" />
					<img class="small-img" *ngIf="FoodItemUtils.category(foodItem) === 'FRUIT'" src="/assets/img/food/flaticon/fruit.svg" />
					<img class="small-img" *ngIf="FoodItemUtils.category(foodItem) === 'GRAIN'" src="/assets/img/food/flaticon/grain.svg" />
					<img class="small-img" *ngIf="FoodItemUtils.category(foodItem) === 'OTHER'" src="/assets/img/food/flaticon/other.svg" />
					<img *ngIf="FoodItemUtils.isInfant(foodItem)" class="small-img" src="/assets/img/food/infant.svg" />
					<img *ngIf="FoodItemUtils.isCN(foodItem)" class="small-img" src="/assets/img/food/cn.svg" />
			</td>
			<td class="col-sm-10">
				<strong class="text-primary">
					<span class="hidden-sm hidden-md">{{foodItem.shortDescription}}</span>
					<span class="hidden-lg">{{limit( foodItem.shortDescription )}}</span>
				</strong><br />
				<span *ngIf="!FoodItemUtils.isCN(foodItem)" class="hidden-sm hidden-xs"><em>{{FoodItemUtils.tagstring(foodItem)}}</em></span>
				<span *ngIf="FoodItemUtils.isCN(foodItem)" class="hidden-sm hidden-xs"><em>{{FoodItemUtils.cnItemString(foodItem)}}</em></span>
			</td>
			<td class="col-sm-1">
				<i *ngIf="false" (click)="foodItem.favorite = !foodItem.favorite" class="text-warning fa" [class.fa-star-o]="!foodItem.favorite" [class.fa-star]="foodItem.favorite"></i>
			</td>
		</tr>				
	</table>

	<span *ngIf="totalItems > 10">
	<pagination class="pagination-sm" 
				[totalItems]="totalItems" 
				(numPages)="totalItems" 
				[(ngModel)]="currentPage" 
				[maxSize]="3" 
				[boundaryLinks]="true" 
				[rotate]="false" 
				(numPages)="numPages = $event"
				previousText="&lsaquo;" 
				nextText="&rsaquo;" 
				firstText="&laquo;" 
				lastText="&raquo;"></pagination>
	</span>

</div>
