<div class="card ">
	<div class="card-header">
	    <h4 class="card-title"><i class="fa fa-calendar"></i> {{targetDate | date: 'EEEE' }}</h4>
	    <p class="category">{{targetDate | date: 'dd MMM y' }}</p>
	</div>
	<div class="card-content">
		<tabset [justified]="true">
  			<tab *ngFor="let ageGroup of ['AGE_0_5MO', 'AGE_6_11MO', 'AGE_1_2YR', 'AGE_3_5YR', 'AGE_6_12YR', 'AGE_13_18YR', 'AGE_ADULT' ]" (select)="tabs[ageGroup].active = true" (deselect)="tabs[ageGroup].active=false" > 
  				<ng-template tabHeading>{{tabs[ageGroup].title}}</ng-template>
		    	<accordion>
		  			<accordion-group *ngFor="let type of ['BREAKFAST', 'AM_SNACK', 'LUNCH', 'PM_SNACK', 'DINNER']" [panelClass]="'customClass'" [isDisabled]="!meals[type]" [isOpen]="true" >
		    			<div *ngIf="meals[type]" accordion-heading>
		               		<i class="fa" [class.fa-chevron-down]="show[type]" [class.fa-chevron-up]="!show[type]"> </i><strong>{{meals[type].description}}</strong>                       	
		    			</div>
		    			<div *ngIf="!meals[type]" accordion-heading [ngSwitch]="type">
	    	                   		<strong *ngSwitchCase="'BREAKFAST'"><em>No Breakfast</em></strong>
	    	                   		<strong *ngSwitchCase="'AM_SNACK'"><em>No AM Snack</em></strong>
	    	                   		<strong *ngSwitchCase="'LUNCH'"><em>No Lunch</em></strong>
	    	                   		<strong *ngSwitchCase="'PM_SNACK'"><em>No PM Snack</em></strong>
	    	                   		<strong *ngSwitchCase="'DINNER'"><em>No Dinner</em></strong>
	    	            </div>
		    			<div *ngIf="meals[type]">	
			    			<cw-meal-detail [meal]="meals[type]" [ageGroup]="ageGroup"></cw-meal-detail>	
			           </div>
		  			</accordion-group>
				</accordion>
  			</tab>
  		</tabset>
	</div>
     <div class="card-footer">
          <hr />
     </div>                                                        
</div>
