<div class="modal-header">
	<h4 class="modal-title pull-left">Event Recurrence</h4>
</div>
<div class="modal-body">
	<form novalidate [formGroup]="recurrenceForm">
		<div class="radio"><label><input type="radio" value="NONE" formControlName="recurrenceType">NONE</label></div>
		<div class="radio"><label><input type="radio" value="DAILY" formControlName="recurrenceType">DAILY</label></div>
		<div class="radio"><label><input type="radio" value="WEEKLY" formControlName="recurrenceType">WEEKLY</label></div>
		<div class="radio"><label><input type="radio" value="BI-WEEKLY" formControlName="recurrenceType">BI-WEEKLY</label></div>
	</form>
		
    <hr/>
    <div class="text-center">
    	<button class="btn" (click)="bsModalRef.hide()">Cancel</button>
    	<button class="btn btn-default" (click)="createRecurrances(); bsModalRef.hide()">OK</button>
    </div>
</div>
