<div class="card " [@changeAnimation]="detailsShowing">
	<div class="card-header">
	    <h4 class="card-title"><i class="fa fa-calendar"></i> {{scheduleDate | date: 'EEEE' }}</h4>
	    <p class="category">{{scheduleDate | date: 'dd MMM y' }}</p>
	</div>
	<div class="card-content">
       <div class="table-responsive">
              <table class="table">
              	<thead>
              		<tr *ngIf="false"><th class="col-sm-2"></th><th  class="col-sm-10"></th>
				</thead>
                <tbody>
                    <tr *ngFor="let type of ['BREAKFAST', 'AM_SNACK', 'LUNCH', 'PM_SNACK', 'DINNER']">
                        <td class="text-left col-sm-11">
                        	<div *ngIf="meals[type]">
	                        	<span (click)="show[type] = !show[type]">
	                        		<strong><i class="fa" [class.fa-chevron-up]="show[type]" [class.fa-chevron-down]="!show[type]" ></i> {{ meals[type].description }}</strong>
	                        	</span> 
	                        	<div *ngIf="show[type]">
		                        	<div *ngFor="let food of meals[type].mealFoodItems" style="font-size: 0.8em"
		                        		tooltip="{{food.foodItem.description}}" placement="right">
		                        		{{ (food.foodItem.description.length>20)? (food.foodItem.description | slice:0:20)+'..':(food.foodItem.description) }}
		                        	</div>
	                        	</div>
    	                   	</div>
    	                   	<div *ngIf="!meals[type]" [ngSwitch]="type">
    	                   		<strong *ngSwitchCase="'BREAKFAST'"><em>No Breakfast</em></strong>
    	                   		<strong *ngSwitchCase="'AM_SNACK'"><em>No AM Snack</em></strong>
    	                   		<strong *ngSwitchCase="'LUNCH'"><em>No Lunch</em></strong>
    	                   		<strong *ngSwitchCase="'PM_SNACK'"><em>No PM Snack</em></strong>
    	                   		<strong *ngSwitchCase="'DINNER'"><em>No Dinner</em></strong>
    	                   	</div> 
                        </td>
                        <td class="text-right  col-sm-1" [ngSwitch]="type">
                        	<img *ngSwitchCase="'BREAKFAST'" class="fixed_width" src="/assets/img/meal/breakfast.svg" />
                        	<img *ngSwitchCase="'AM_SNACK'" class="fixed_width" src="/assets/img/meal/ante-meridiem.svg" />
                        	<img *ngSwitchCase="'LUNCH'" class="fixed_width" src="/assets/img/meal/lunch.svg" />
                        	<img *ngSwitchCase="'PM_SNACK'" class="fixed_width" src="/assets/img/meal/post-meridiem.svg" />
                        	<img *ngSwitchCase="'DINNER'" class="fixed_width" src="/assets/img/meal/turkey.svg" />
                       	</td>
                    </tr>                   
                </tbody>
          	</table>                                   	
          </div>                                
     </div>
     <div class="card-footer">
          <hr />
          <a class="footer-title text-info" [routerLink]="[ '../menu', scheduleDate | date: 'dd-MMMM-y' ]" ><i class="fa fa-pencil"></i> EDIT</a>
          <!--
          <div class="pull-right">
              <button class="btn btn-default btn-fill btn-icon btn-sm">
                  <i class="ti-info"></i>
              </button>
          </div>
          -->
      </div>                                                        
</div>

