<div class="container-fluid">

	<div class="row">
		<h3 class="text-primary">Meal Production Record</h3>
		<div class="col-xs-12 col-12 col-md-4 form-group">
			<label>Meal Date<input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(ngModel)]="mpr.mealDate"></label>
			<span *ngIf="mpr.locked" class="label label-danger"><i class="fa fa-lock"></i> Locked</span>
		</div>
		<div class="pull-right">
			<button *ngIf="!mpr.locked" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
			<button *ngIf="!mpr.locked" class="btn btn-info"><i class="fa fa-lock"></i> Lock</button>
			<button *ngIf="mpr.locked" class="btn btn-info"><i class="fa fa-unlock"></i> Unlock</button>
			<button class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> Download</button>
		</div>
	</div>

	<div class="row">
		<tabset> 
			<tab *ngFor="let type of ['Breakfast', 'AM Snack', 'Lunch', 'PM Snack', 'Dinner']" (select)="activateTab(type)">			
				<!-- Tab heading -->
				<ng-template tabHeading>
					<span [ngSwitch]="type">
						<img class="small-img" *ngSwitchCase="'Breakfast'" src="/assets/img/meal/breakfast.svg" />
						<img class="small-img" *ngSwitchCase="'AM Snack'" src="/assets/img/meal/ante-meridiem.svg" />
						<img class="small-img" *ngSwitchCase="'Lunch'" src="/assets/img/meal/lunch.svg" />
						<img class="small-img" *ngSwitchCase="'PM Snack'" src="/assets/img/meal/post-meridiem.svg" />
						<img class="small-img" *ngSwitchCase="'Dinner'" src="/assets/img/food/turkey.svg" />
					</span> {{type}} 
				</ng-template>
	
				<cw-meal-production-record-tab 
					[type]="type" 
					[attendance]="attendanceForTab(type)" 
					[foodItems]="foodItemsForTab(type)"
					[locked]="mpr.locked"
					(attendanceChanged)="attendanceChanged($event)"
					(foodItemUnitChanged)="foodItemUnitChanged($event)"
					(foodItemPreparedChanged)="foodItemPreparedChanged($event)">
				</cw-meal-production-record-tab>
			</tab> 
		</tabset>
	</div>
</div>