<div class="container-fluid">

	<div class="row">
		<h3 class="text-primary">Meal Production Record</h3>
		<div class="col-xs-12 col-12 col-md-4 form-group">
			<label>Meal Date<input type="text" class="form-control" #dp="bsDatepicker" [(ngModel)]="mealDate" bsDatepicker></label>
			<span *ngIf="false" class="label label-danger"><i class="fa fa-lock"></i> Locked</span>
		</div>
		<div class="pull-right" *ngIf="activeMpr?.productionFoodItems.length > 0">
			<a type="button" class="btn btn-primary" target="_blank" [attr.href]="'/mpr?tenant='+user?.tenant.id+'&mpr='+activeMpr?.id" *ngIf="activeMpr?.locked" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> Download</a>
			<button *ngIf="!activeMpr?.locked" class="btn btn-info" (click)="setMprLock(true)"><i class="fa fa-lock"></i> Lock</button>
			<button *ngIf="activeMpr?.locked" class="btn btn-info" (click)="setMprLock(false)"><i class="fa fa-unlock"></i> Unlock</button>
		</div>
	</div>

	<div class="row">
		<p *ngIf="hasRecordsFor().length === 0"><strong>No Records found for {{mealDate | date: 'shortDate' }}</strong></p>
		<tabset *ngIf="hasRecordsFor().length > 0 "> 
			<tab *ngFor="let type of hasRecordsFor()" (select)="tabChanged(type)">			
				<!-- Tab heading -->
				<ng-template tabHeading>
					<span [ngSwitch]="type">
						<img class="small-img" *ngSwitchCase="'BREAKFAST'" src="/assets/img/meal/breakfast.svg" />
						<img class="small-img" *ngSwitchCase="'AM_SNACK'" src="/assets/img/meal/ante-meridiem.svg" />
						<img class="small-img" *ngSwitchCase="'LUNCH'" src="/assets/img/meal/lunch.svg" />
						<img class="small-img" *ngSwitchCase="'PM_SNACK'" src="/assets/img/meal/post-meridiem.svg" />
						<img class="small-img" *ngSwitchCase="'SUPPER'" src="/assets/img/food/turkey.svg" />
						<img class="small-img" *ngSwitchCase="'EV_SNACK'" src="/assets/img/meal/night.svg" />
						<i *ngIf="mprFor(type).locked" class="fa fa-lock pull-right"></i>
					</span> {{MealType.toDisplay(type)}} 
				</ng-template>
	
				<cw-meal-production-record-tab
					[mealProductionRecord]="mprFor(type)" 
					(attendanceChanged)="attendanceChanged($event)"
					(foodItemChanged)="foodItemChanged($event)">
				</cw-meal-production-record-tab>
			</tab> 
		</tabset>
	</div>
</div>