<div *ngIf="!mealProductionRecord?.productionFoodItems || mealProductionRecord?.productionFoodItems.length == 0">
	<br/><strong>No scheduled food items for {{MealType.toDisplay(mealProductionRecord?.type)}} - Unable to create MPR</strong>
</div>

<div *ngIf="mealProductionRecord && mealProductionRecord.productionFoodItems.length > 0">

	<!-- Attendance -->
	
	<div class="col-xs-5" >
		<form novalidate [formGroup]="attendanceForm">
			<h3 class="text-primary">Attendance <small>{{mealProductionRecord?.type}} Planned/Actuals</small></h3>
			<div class="row  form-group" formGroupName="{{name}}" *ngFor="let name of AgeGroup._ALL; let idx = index;">
				<span class="col-xs-3"> 
					<label *ngIf="idx==0">Age Group</label>
					<p class="form-control-static text-primary">{{AgeGroup._toDisplay(name)}}</p>
				</span> 
				<span class="col-xs-offset-1 col-xs-2"> 
					<label *ngIf="idx==0">Projected</label>
					<p *ngIf="mealProductionRecord?.locked" class="form-control-static">{{attendanceRecordFor(name)?.projected}}</p> 
					<input *ngIf="!mealProductionRecord?.locked" class="form-control" type="text" formControlName="projected"/>
				</span> 
				<span class="col-xs-2"> 
					<label *ngIf="idx==0">Actual</label>
					<p *ngIf="mealProductionRecord?.locked" class="form-control-static">{{attendanceRecordFor(name)?.actual}}</p> 				
					<input *ngIf="!mealProductionRecord?.locked" class="form-control" type="text" formControlName="actual" />
				</span>
			</div>
		</form>
	</div>
	
	<!-- Food items -->
	<div class="col-xs-7 form-group" >
		<h3 class="text-primary">Food Items</h3>
		<div class="panel">
			<div *ngIf="!mealProductionRecord?.productionFoodItems || mealProductionRecord?.productionFoodItems.length == 0"><strong>No items for {{MealType.toDisplay(mealProductionRecord?.type)}}</strong></div>
			<form novalidate [formGroup]="foodItemsForm">
				<div class="row form-group" *ngFor="let pfi of mealProductionRecord?.productionFoodItems; let i = index;" formGroupName="{{pfi.foodItem.id}}">
					<span class="col-xs-1"> 
						<img class="small-img" *ngIf="FoodItemUtils.category(pfi.foodItem) === 'MILK'" src="/assets/img/food/flaticon/milk.svg" />
						<img class="small-img" *ngIf="FoodItemUtils.category(pfi.foodItem) === 'MEAT'" src="/assets/img/food/flaticon/meat.svg" />
						<img class="small-img" *ngIf="FoodItemUtils.category(pfi.foodItem) === 'VEGETABLE'" src="/assets/img/food/flaticon/vegetable.svg" />
						<img class="small-img" *ngIf="FoodItemUtils.category(pfi.foodItem) === 'FRUIT'" src="/assets/img/food/flaticon/fruit.svg" />
						<img class="small-img" *ngIf="FoodItemUtils.category(pfi.foodItem) === 'GRAIN'" src="/assets/img/food/flaticon/grain.svg" />
						<img class="small-img" *ngIf="FoodItemUtils.category(pfi.foodItem) === 'OTHER'" src="/assets/img/food/flaticon/other.svg" />
						<img *ngIf="FoodItemUtils.isInfant(pfi.foodItem)" class="small-img" src="/assets/img/food/infant.svg" />
						<img *ngIf="FoodItemUtils.isCN(pfi.foodItem)" class="small-img" src="/assets/img/food/cn.svg" />
					</span> 
					<span class="col-xs-4"> 
						<strong class="form-control-static text-primary">{{pfi.foodItem.description}}</strong>
						<p>
							<span *ngIf="!FoodItemUtils.isCN(pfi.foodItem)" class="hidden-sm hidden-xs"><em>{{FoodItemUtils.tagstring(pfi.foodItem)}}</em></span>
							<span *ngIf="FoodItemUtils.isCN(pfi.foodItem)" class="hidden-sm hidden-xs"><em>{{FoodItemUtils.cnItemString(pfi.foodItem)}}</em></span>
						</p>
					</span> 
					<span class="col-xs-2 "> 
						<label *ngIf="i==0">Required</label>
						<p class="form-control-static">{{pfi.calcRequired || 0 }}</p>
					</span> 
					<span class="col-xs-2 "> 
						<label *ngIf="i==0">Prepared</label>
						<p *ngIf="mealProductionRecord?.locked" class="form-control-static">{{pfi.prepared || 0}}</p> 
						<input *ngIf="!mealProductionRecord?.locked" class="form-control" type="text" formControlName="prepared" />
					</span> 
					<span class="col-xs-3"> 
						<label *ngIf="i==0">Units</label>
						<p *ngIf="mealProductionRecord?.locked" class="form-control-static">{{pfi.unit}}</p> 
						<select *ngIf="!mealProductionRecord?.locked" class="form-control" formControlName="units">
							<option value="OUNCES">OUNCES</option>
							<option value="CUPS">CUPS</option>
							<option value="LBS">LBS</option>
							<option value="GALLONS">GALLONS</option>
							<option value="TABLESPOONS">TABLESPOONS</option>
						</select>
					</span>
				</div>
			</form>
		</div>
	</div>
	
	<!-- Notes -->
	<div class="row">
		<div class="form-group col-xs-12">
			<h3 class="text-primary">{{MealType.toDisplay(mealProductionRecord?.type)}} Notes/Substitutions</h3>
			<p *ngIf="mealProductionRecord?.locked">{{mealProductionRecord?.notes}}</p>
			<textarea *ngIf="!mealProductionRecord?.locked" class="form-control col-xs-12" rows="4" ></textarea>
		</div>
	</div>

</div>