<ng-template #customCellTemplate let-day="day" >
<div style="z-index: 10;" dnd-droppable (onDropSuccess)="mealDropped( $event.dragData, day.date )" >
  <div class="cal-cell-top" (mouseenter)="showAdd = day.date" (mouseleave)="showAdd = undefined">
    <span class="cal-day-number"><strong>{{ day.date | calendarDate:'monthViewDayNumber' }}</strong></span>
  </div>
  <div class="call-events" *ngFor="let event of day.events" >
  	<div class="chip" [ngSwitch]="event.meta.meal.type" [class.bg-danger]="!event.meta.meal.compliant">
				<img *ngSwitchCase="'BREAKFAST'" src="/assets/img/meal/breakfast.svg" />
				<img  *ngSwitchCase="'AM_SNACK'" src="/assets/img/meal/ante-meridiem.svg" />
				<img *ngSwitchCase="'LUNCH'" src="/assets/img/meal/lunch.svg" />
				<img *ngSwitchCase="'PM_SNACK'" src="/assets/img/meal/post-meridiem.svg" />
				<img *ngSwitchCase="'DINNER'" src="/assets/img/food/turkey.svg" />
  		<span tooltip="{{event.meta.meal.description}}"><strong>{{ limit( event.meta.meal.description, 10 )}}</strong></span>
  		<div class="pull-right">
  			<a><i class="text-danger fa fa-close" (click)="removeEvent(event)"></i></a>
  		</div>
  	</div>
  </div>
</div>
</ng-template>

<ng-template #modalTemplate>
	  <div class="modal-header">
	    <h4 class="modal-title pull-left">Meal type already planned</h4>
	  </div>
	  <div class="modal-body">
	    There is already a {{mealToDrop?.type}} planned for this day.  Do you want to replace it or cancel? <br/><br/>
	    <hr/>
	    <div class="text-center"><button class="btn btn-default" (click)="replaceMeal()">Replace</button> <button class="btn" (click)="modalRef.hide(); mealToDrop=undefined; whenToDropp=undefined;">Cancel</button></div>
	  </div>
</ng-template>


<ng-template #modalAlreadyScheduled>
	  <div class="modal-header">
	    <h4 class="modal-title pull-left">Meal already planned</h4>
	  </div>
	  <div class="modal-body">
	    You cannot delete a meal that is planned in the future.  Please unschedule the meal before deleting. <br/><br/>
	    <hr/>
	    <div class="text-center"><button class="btn btn-default" (click)="modalRef.hide()">Ok</button></div>
	  </div>
</ng-template>


<div class="container-fluid">

	<div class="row">
	
		<!-- MENU -->
		<div class="col-sm-3 hidden-xs">
			<cw-meal-list (edit)="editMeal($event)" (add)="addMeal()" (delete)="deleteMeal($event)"></cw-meal-list>
		</div>
		
		<!-- CALENDAR -->
		<div class="col-sm-9 col-xs-12">
		
			<div class="hidden-xs" 
				[class.my-container]="showBackground"
				[class.my-container-spring]="showBackground && isSpring()"
				[class.my-container-summer]="showBackground && isSummer()"
				[class.my-container-fall]="showBackground && isFall()"
				[class.my-container-winter]="showBackground && isWinter()"				
				>
		
			<!-- MONTH VIEW - shown only on non-cell phone size -->
					<span class="pull-left btn-group" style="z-index: 10;" role="group">
						<button type="button" class="btn" (click)="gotoDate('previous','month')"><i class="fa fa-chevron-left"></i> </button>
						<button type="button" class="btn" (click)="gotoDate()">Today</button>
						<button type="button" class="btn" (click)="gotoDate('next','month')"><i class="fa fa-chevron-right"></i></button>
					</span>
					<a class="pull-right" target="_blank" [attr.href]="'/menu?tenant='+user?.tenant.id"><i class="fa fa-print"></i> Print Menu...</a>
					<h3 class="text-center text-primary">
						{{ viewDate | date:'MMMM yyyy' }} 
					</h3>
<!--  					<span class="pull-right checkbox" style="z-index: 10;">
						<label><input [(ngModel)]="showWeekends" type="checkbox" (change)="flipWeekend($event)"> Show Weekends</label>
						<label><input [(ngModel)]="showBackground" type="checkbox"> Show Background</label>
					</span>
-->					
			</div>
			<br />
			<div class="hidden-xs" style="z-index: 10;">
				<mwl-calendar-month-view					
					(beforeViewRender)="beforeMonthViewRender($event)"
				    [viewDate]="viewDate"
				    [events]="eventList"
				    [activeDayIsOpen]="false"
				    [refresh]="refresh"
				    (dayClicked)="dayClicked($event)"
					[cellTemplate]="customCellTemplate"
					[excludeDays]="showHideWeekends">
				</mwl-calendar-month-view>

			</div>			
			<!-- DAY VIEW - only on cell phone size -->
			<div class="row visible-xs">
				<cw-meal-day 
					class="col-xs-10 col-xs-offset-1"
					(add)="addMeal()" 
					(schedule)="mealDropped($event)"
					(edit)="editMeal($event)" 
					(remove)="removeEvent($event)"
					[day]="viewDate"
					(previousDay)="gotoDate('previous','day')"
					(nextDay)="gotoDate('next','day')"
					(today)="gotoDate()"></cw-meal-day>
			</div>

		</div>

	
	</div>
	

</div>  		 	