 <div class="modal-header">
      <h4 class="modal-title pull-left">{{title}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
		<div class="row">
		  <div class="col-xs-12 col-12 col-md-4 form-group">
		    <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue" (bsValueChange)="changed()">
		  </div>
		  <div class="col-xs-12 col-12 col-md-3 form-group">
		    <button class="btn btn-success" (click)="drp.toggle()">Date Range Picker</button>
		  </div>
		</div>
		
		<input type="week">
    </div>    
    <div class="modal-footer">
    	<button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">OK</button>
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    </div>
