 <div class="modal-header">
      <h4 class="modal-title pull-left">PDF Print Menu</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
		<div class="row">
		  <div class="col-xs-12 col-12 col-md-4 form-group">
		    <label>Select week start:</label>
		    <input class="form-control" #dp="bsDatepicker" bsDatepicker [(ngModel)]="bsValue" (onHidden)="roundToMonday()">
		  </div>
		  <div class="checkbox">
  			<label><input type="checkbox" [(ngModel)]="showInfant"> Show Infant Food Items</label>
		  </div>
		</div>
    </div>    
    <div class="modal-footer">
    	<a type="button" class="btn btn-primary" target="_blank" [attr.href]="'/menu?tenant='+user?.tenant.id+'&start='+getDateValue() + '&showInfant='+showInfant" (click)="bsModalRef.hide()"><i class="fa fa-file-pdf-o"></i> Download</a>
       <a type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</a>
    </div>
