/* .circle-green { */
/*     border-radius: 50%; */
/*     background: green; */
/*     vertical-align: middle; */
/*     color: white; */
/* 	font-size: 1.2em; */
/* 	margin:0 auto;     */
/* } */

.circle-green {
    border-radius: 50%;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    vertical-align: middle;
    color: green;
	font-size: 1.2em;
	margin:0 auto;    
}

.circle-grey {
    border-radius: 50%;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    vertical-align: middle;
    color: grey;
	font-size: 1.2em;
	margin:0 auto;    
}
