<div class="panel panel-default">
	<div class="panel-heading">
	
		<h3><i class="cw-icon" [class.icon-breakfast]="meal.type === 'BREAKFAST'"
			[class.icon-snack]="meal.type === 'AM_SNACK' || meal && meal.type === 'PM_SNACK'"
			[class.icon-lunch]="meal.type === 'LUNCH'"
			[class.icon-dinner]="meal.type === 'DINNER'" style="font-size: 2em"></i>
		{{meal.description}}
		</h3>
	</div>
</div>



<tabset [justified]="true"> 
	<tab active="true"> 
		<ng-template tabHeading> <i class="fa fa-check" style="color: green"></i> 0-3MO </ng-template>

		<div *ngFor="let item of mealFoodItems" class="input-group input-group-unstyled" style="margin-top: 10px">
			<!--  need vegetables, fast-food, snack, native-->
			<i class="cw-icon input-group-addon" style="font-size: 2.5em"
				[class.icon-milk]="item.foodItem.foodComponent.id === '1'"
				[class.icon-spices]="item.foodItem.foodComponent.id === '2'"
				[class.icon-baby-food]="item.foodItem.foodComponent.id === '3'"
				[class.icon-olive-oil-jar]="item.foodItem.foodComponent.id === '4'"
				[class.icon-chicken-leg-bite]="item.foodItem.foodComponent.id === '5'"
				[class.icon-soup]="item.foodItem.foodComponent.id === '6'"
				[class.icon-sausage]="item.foodItem.foodComponent.id === '7'"
				[class.icon-cereals]="item.foodItem.foodComponent.id === '8'"
				[class.icon-fruit-salad]="item.foodItem.foodComponent.id === '9'"
				[class.icon-pig-face]="item.foodItem.foodComponent.id === '10'"
				[class.icon-vegetables]="item.foodItem.foodComponent.id === '11'" 
				[class.icon-peanuts]="item.foodItem.foodComponent.id === '12'"
				[class.icon-beef-steak]="item.foodItem.foodComponent.id === '13'"
				[class.icon-beverage]="item.foodItem.foodComponent.id === '14'"
				[class.icon-fish]="item.foodItem.foodComponent.id === '15'"
				[class.icon-beans]="item.foodItem.foodComponent.id === '16'"
				[class.icon-lamb]="item.foodItem.foodComponent.id === '17'"
				[class.icon-pie]="item.foodItem.foodComponent.id === '18'"
				[class.icon-sweets]="item.foodItem.foodComponent.id === '19'"
				[class.icon-pasta]="item.foodItem.foodComponent.id === '20'"				
				[class.icon-fast-food]="item.foodItem.foodComponent.id === '21'" 				
				[class.icon-food]="item.foodItem.foodComponent.id === '22'"
				[class.icon-snack]="item.foodItem.foodComponent.id === '25'"
				[class.icon-native]="item.foodItem.foodComponent.id === '35'"
				[class.icon-restaurant]="item.foodItem.foodComponent.id === '36'"
				[class.circle-green]="item.foodItem.description"
				[class.circle-grey]="item.foodItem.description===undefined"				
				>
			</i>
			<div>
				<span class="col-sm-7">
				<label>{{item.foodItem.foodComponent.description}}</label>
				<input class="form-control" 
					   [(ngModel)]="item.foodItem.description"
					   [typeahead]="food(item.foodItem.foodComponent)"
					   typeaheadOptionField="description"
					   typeaheadOptionsLimit="10">
				</span>
				<span class="col-sm-1">
					<label>Quantity</label>
					<input class="form-control" value="{{item.amount}}">
				</span>
				<span class="col-sm-3">
					<label>Units</label>
					<select class="form-control">
						<option>each</option>
						<option>oz</option>
						<option>slice</option>
						<option>lbs</option>
					</select>
				</span>
				<div class="col-sm-1"><i style="color: red" class="fa fa-close" (click)="removeMealFoodItem(item)"></i></div>
			</div>
		</div>
	
	</tab> 
	
	<tab> 
		<ng-template tabHeading> 3MO - 1YR </ng-template> 
	</tab> 
	
	<tab> 
		<ng-template tabHeading> 1 - 2YRS </ng-template> 
	</tab> 
	
	<tab> 
		<ng-template tabHeading> 3 - 5YRS </ng-template> 
	</tab> 
	
	<tab> 
		<ng-template tabHeading> 6 - 12YRS </ng-template> 
	</tab> 
	
	<tab> 
		<ng-template tabHeading> 12 - 18YRS </ng-template> 
	</tab> 
	
	<tab> 
		<ng-template tabHeading> Adult </ng-template> 
	</tab> 

</tabset>

<hr/>

<div class="btn-group" dropdown >
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Add Component <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li *ngFor="let component of foodComponents" role="menuitem">
    	<a class="dropdown-item" (click)="addFoodComponent(component)">
    		<i class="cw-icon" style="font-size: 1em"
				[class.icon-milk]="component.id === '1'"
				[class.icon-spices]="component.id === '2'"
				[class.icon-baby-food]="component.id === '3'"
				[class.icon-olive-oil-jar]="component.id === '4'"
				[class.icon-chicken-leg-bite]="component.id === '5'"
				[class.icon-soup]="component.id === '6'"
				[class.icon-sausage]="component.id === '7'"
				[class.icon-cereals]="component.id === '8'"
				[class.icon-fruit-salad]="component.id === '9'"
				[class.icon-pig-face]="component.id === '10'"
				[class.icon-vegetables]="component.id === '11'" 
				[class.icon-peanuts]="component.id === '12'"
				[class.icon-beef-steak]="component.id === '13'"
				[class.icon-beverage]="component.id === '14'"
				[class.icon-fish]="component.id === '15'"
				[class.icon-beans]="component.id === '16'"
				[class.icon-lamb]="component.id === '17'"
				[class.icon-pie]="component.id === '18'"
				[class.icon-sweets]="component.id === '19'"
				[class.icon-pasta]="component.id === '20'"				
				[class.icon-fast-food]="component.id === '21'" 				
				[class.icon-food]="component.id === '22'"
				[class.icon-snack]="component.id === '25'"
				[class.icon-native]="component.id === '35'"
				[class.icon-restaurant]="component.id === '36'"
				>
			</i>{{component.description}}
    	</a>
    </li>
  </ul>
</div>





