<div *ngIf="!!person" class="container" fxFlex="0 1 270px">
  <h2>{{person.firstName + ' ' + person.lastName}}</h2>
  <div class="summary">
    <span class="presence-summary">{{presenceSummary}}</span>
    <span class="schedule-summary">{{scheduleSummary}}</span>
  </div>
  <div fxLayout="row">
    <div fxFlex="1 1 135px">
      <h3 class="subheader">Schedule</h3>
      <ng-container [ngSwitch]="scheduleSegments.length > 0">
        <ng-container *ngSwitchCase="true">
          <div *ngFor="let segment of scheduleSegments" class="room">
            <span class="room-name">{{segment.roomName}}</span>
            <span class="room-time">{{segment.start | date:'shortTime'}} - {{segment.end ? (segment.end | date:'shortTime') : '...'}}</span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <div class="room">
            <span class="room-name">(No schedule)</span>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div fxFlex="1 1 135px">
      <h3 class="subheader">Attendance</h3>
      <ng-container [ngSwitch]="presenceSegments.length > 0">
        <ng-container *ngSwitchCase="true">
          <div *ngFor="let segment of presenceSegments" class="room">
            <span class="room-name">{{segment.name}}</span>
            <span class="room-time">{{segment.start | date:'shortTime'}} - {{segment.end ? (segment.end | date:'shortTime') : '...'}}</span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <div class="room">
            <span class="room-name">(No attendance)</span>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <button md-button (click)="close()">Close</button>
</div>

<style>
  label {
    margin-top: 10px;
    display: block;
  }

  button {
    float: right;
    top: 20px;
  }

  form {
    text-align: left;
    padding-left: 1em;
    width: 250px;
  }

  h3.subheader {
    margin: 0 0 1em 0;
    font-weight: bold;
    font-size: 10pt;
  }

  .presence-summary, .schedule-summary {
    display: block;
    font-size: 12pt;
  }

  .summary {
    margin: 1em 0;
  }

  .container {
    padding: 0 16px;
  }

  .room {
    margin: 1em 0;
  }

  .room-name {
    font-size: 10pt;
    display: block;
  }

  .room-time {
    font-size: 9pt;
    display: block;
  }
</style>