<div class="container-fluid">
	<h3 class="text-primary">Settings</h3>	
	
	<form novalidate [formGroup]="settingsForm">
		<div class="row">
			<h4 style="width:100%; border-bottom: 1px solid #000">Style</h4>
			<div class="form-group">
				<label><input type="checkbox" formControlName="dark"/> Dark?</label>
			</div>
			<div class="form-group">
				<label>Theme</label>
				<input class="form-control" 
						formControlName="theme" 
						[typeahead]="themes" 
						class="form-control" 
						[container]="'body'"
         				placeholder="Theme name"/>
			</div>
			
		
		</div>
	
		<div class="row">
			<h4 style="width:100%; border-bottom: 1px solid #000">User</h4>
			<div class="form-group">
				<label for="displayname">Display Name</label>
				<input class="form-control" id="displayname"  formControlName="displayName">
			</div>	
			<div class="form-group">
				<label for="username">Username</label>
				<input class="form-control" id="username"  formControlName="username"/>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input class="form-control" type="password" id="password" formControlName="password" disabled />
			</div>
			<div class="form-group" *ngIf="showConfirmPassword">
				<label for="confirmPassword">Confirm Password</label>
				<input class="form-control" type="password" id="confirmPassword" formControlName="confirmPassword" disabled />
				<p class="text-danger" *ngIf="!passwordConfirmed()">Passwords do not match</p>
			</div>
		
			<div class="form-group">
				<div><label>Avatar</label></div>
				<span><img [class.selected-thumbnail]="config?.user?.avatar == 'boy.svg'" class="col-sm-1 img-thumbnail" src='/assets/avatar/boy.svg' width="80" height="80" (click)="updateConfig('boy.svg')"></span>
				<span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]">
					<img [class.selected-thumbnail]="config?.user?.avatar == 'boy-'+i+'.svg'" class="col-sm-1 img-thumbnail" src='/assets/avatar/boy-{{i}}.svg' width="80" height="80" (click)="updateConfig('boy-'+i+'.svg')">
				</span> 
				<span><img [class.selected-thumbnail]="config?.user?.avatar == 'girl.svg'" class="col-sm-1 img-thumbnail" src='/assets/avatar/girl.svg' width="80" height="80" (click)="updateConfig('girl.svg')"></span>
				<span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]">
					<img [class.selected-thumbnail]="config?.user?.avatar == 'girl-'+i+'.svg'" class="col-sm-1 img-thumbnail" src='/assets/avatar/girl-{{i}}.svg' width="80" height="80" (click)="updateConfig('girl-'+i+'.svg')">
				</span>
			</div>
		</div>
			
		<div class="row">
			<h4 style="width:100%; border-bottom: 1px solid #000">Meal Planning</h4>
			<div class="form-group">
				<label><input type="checkbox" formControlName="showWeekends"/> Show Weekends?</label>
			</div>
		</div>
	</form>
	
</div>
