
<html>
<head>
<link id="theme" href="./bootstrap.css" rel="stylesheet" />
<style>
@page {
	size: A4 landscape;
}

.sm-img {
	min-height: 30px;
	height: 30px;
	min-width: 30px;
	width: 30px;
	vertical-align: center;
}

.logo {
	padding: 10px 10px 0 10px;
}

.name {
	font-size: 30px;
}

td {
	vertical-align:top;
}


td > ul > li {
	overflow: hidden;
}

</style>
</head>
<body>
	<img class="sm-img logo" src="childwatch.png" />
	<span class="name"><strong>Menu for week of <span th:text="${forDate}">DATE</span></strong></span>

	<table class="table table-condensed table-bordered" style="font-size: 8px" width="100%">
		<tbody>
			<tr>
				<th width="160" scope="col"></th>
				<th width="245"  scope="col" th:each="day : ${ {'MONDAY', 'TUESDAY','WEDNESDAY', 'THURSDAY', 'FRIDAY' } }" th:text="${day}">DAY</th>
			</tr>
			<tr th:each="type : ${ {'BREAKFAST', 'AM_SNACK', 'LUNCH', 'PM_SNACK', 'DINNER' } }">
				<th scope="row" th:switch="${type}">
					<img th:case="'BREAKFAST'" class="sm-img" src="breakfast.png" />
					<img th:case="'AM_SNACK'" class="sm-img" src="ante-meridiem.png" />
					<img th:case="'LUNCH'" class="sm-img" src="lunch.png" />
					<img th:case="'PM_SNACK'" class="sm-img" src="post-meridiem.png" />
					<img th:case="'DINNER'" class="sm-img" src="turkey.png" />
					<span th:text="${type}">TYPE</span>
				</th>
				<td th:each="day : ${ {'MONDAY', 'TUESDAY','WEDNESDAY', 'THURSDAY', 'FRIDAY' } }">
					<span th:if="${meals.get(type).containsKey(day)}" >
						<strong th:text="${ meals.get(type).get(day).getDescription() }">MEAL NAME</strong>
						<ul style="margin:0px" th:with="mealId = ${ meals.get(type).get(day).getId() }">
							<li style="margin:-5px;" th:each="item : ${foodItems[mealId]}" th:text="${item.getShortDescription()}">ITEM</li>
						</ul>
					</span>
					<strong th:unless="${meals.get(type).containsKey(day)}" style="display: table-cell; vertical-align: middle;">No meals scheduled</strong>
				</td>
			</tr>
		</tbody>
	</table>
</body>
<footer>
	<strong>*Age Appropriate Milk:</strong>
	<ul>
		<li th:if="${showInfant}">Breastmilk or iron-fortified formula for infants through 11 months.</li>
		<li>Whole milk for 1 YR olds</li>
		<li>Otherwise, lowfat (1%) or fat-free (skim) milk</li>
		<li>Adults may have yogurt instead of milk</li>
	</ul>
</footer>

</html>