:host {
  padding: 10px;
  display: block;
}

.data-point {
  margin: 0 5px;
}

.metrics {
  font-size: 2em;
  margin:auto;
  display: table;
  text-align: center!important;
}
.text-muted{
  color: #9da0a8;
}
.material-icons {
  margin-top: 20px;
  width: 30px;
}
.material-icons.green {
  color: #bdea74;
}
.material-icons.red {
  color: #ff5454;
}
