<div class="main-content">
    <div class="container-fluid">
	    <div class="row">
		    <h1>Today's Info</h1>
		    <div class="alert alert-warning" data-notify="container">
		                            <button type="button" aria-hidden="true" class="close">×</button>
		                            <span data-notify="icon" class="ti-alarm-clock"></span>
		                            <span data-notify="message">Changes have been made to the staffing schedule for next week.  Review them <strong>here</strong></span>
		                        </div>
		                        
		    <div class="alert alert-info" data-notify="container">
		                            <button type="button" aria-hidden="true" class="close">×</button>
		                            <span data-notify="icon" class="ti-gift"></span>
		                            <span data-notify="message">Today is <strong>Kim Green</strong>'s birthday.  Make sure to wish her a happy day.</span>
		                        </div>                        
	    </div>

		<div class="row">
    		<span class="col-sm-8"><h1 class="col-sm-8" >Room Overview</h1></span>
    		<span class="col-sm-4">
 	   			<label>Site:</label>
	    		<select class="col-sm-4 form-control">
	    			<option>All</option>
	    			<option>East</option>
	    			<option>North Valley</option>
	    			<option>Downtown</option>
	    		</select>
	    	</span>
		</div>
		
        <div class="row">
            <div *ngFor="let room of Rooms" class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="card-content">
                    	<div class="row">
	                    	<div class="col-xs-7">
    	                		<div class="numbers pull-left">{{room.name}}<p class="text-left">{{room.site}}</p></div>
    	                	</div>
                    		<div *ngIf="room.isUnderstaffed || room.isOverstaffed" class="col-xs-5">
                                <div class="pull-right">
                                    <span class="label label-danger"
                                          [class.label-danger]="room.isUnderstaffed"
                                          [class.label-warning]="room.isOverstaffed">
                                        {{(room.isUnderstaffed)? 'Understaffed' : 'Overstaffed'}}
                                    </span>
                                </div>
                            </div>
                    	</div>
                    	<div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <img class="fixed_width pull-left" [src]="'/assets/img/room/' + room.img" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Children</p>
                                    {{room.childrenCount}}
                                </div>
                                <div class="numbers">
                                    <p>Staff</p>
                                    {{room.staffCount}}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr />
                        <a class="footer-title text-info" (click)="goToRoomDetails(room)" >VIEW DETAILS</a>
                    </div>
                </div>
            </div>
                        
     	</div> <!-- end: ROW -->
     	
	</div>
</div>
