<div class="main-content">
    <div class="container-fluid">
	    <div class="row">
		    <h1>Today's Info</h1>
		    <div class="alert alert-warning" data-notify="container">
		                            <button type="button" aria-hidden="true" class="close">×</button>
		                            <span data-notify="icon" class="ti-alarm-clock"></span>
		                            <span data-notify="message">Changes have been made to the staffing schedule for next week.  Review them <strong>here</strong></span>
		                        </div>
		                        
		    <div class="alert alert-info" data-notify="container">
		                            <button type="button" aria-hidden="true" class="close">×</button>
		                            <span data-notify="icon" class="ti-gift"></span>
		                            <span data-notify="message">Today is <strong>Kim Green</strong>'s birthday.  Make sure to wish her a happy day.</span>
		                        </div>                        
	    </div>

		<div class="row">
    		<span class="col-sm-8"><h1 class="col-sm-8" >Room Overview</h1></span>
    		<span class="col-sm-4">
 	   			<label>Site:</label>
	    		<select class="col-sm-4 form-control">
	    			<option>All</option>
	    			<option>East</option>
	    			<option>North Valley</option>
	    			<option>Downtown</option>
	    		</select>
	    	</span>
		</div>
		
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="card-content">
                    	<div class="row">
	                    	<div class="col-xs-7">
    	                		<div class="numbers pull-left">Butterfly<p class="text-left">North Valley</p></div>
    	                	</div>
                    		<div class="col-xs-5">
                                <div class="pull-right">
                                    <span class="label label-danger">
                                        Understaffed
                                    </span>
                                </div>
                            </div>
                    	</div>
                    	<div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <img src="/assets/img/room/butterfly.svg" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Children</p>
                                    10
                                </div>
                                <div class="numbers">
                                    <p>Staff</p>
                                    1
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr />
                        <div class="footer-title">View details</div>
                        <div class="pull-right">
                            <button class="btn btn-default btn-fill btn-icon btn-sm" (click)="goToRoomDetails()">
                                <i class="ti-info"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="card-content">
                    	<div class="row">
		                    	<div class="col-xs-7">
	
                    		<div class="numbers pull-left">Dragonfly<p class="text-left">North Valley</p></div>
                    		</div>
                    	</div>
                    	<div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <img src="/assets/img/room/dragonfly.svg" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Children</p>
                                    10
                                </div>
                                <div class="numbers">
                                    <p>Staff</p>
                                    2
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr />
                        <div class="footer-title">View details</div>
                        <div class="pull-right">
                            <button class="btn btn-default btn-fill btn-icon btn-sm">
                                <i class="ti-info"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="card-content">
                    	<div class="row">
                    		                    	<div class="col-xs-7">
                    	
                    		<div class="numbers pull-left">Owl<p class="text-left">East</p></div>
                    		</div>
                    	</div>
                    	<div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <img src="/assets/img/room/owl.svg" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Children</p>
                                    11
                                </div>
                                <div class="numbers">
                                    <p>Staff</p>
                                    2
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr />
                        <div class="footer-title">View details</div>
                        <div class="pull-right">
                            <button class="btn btn-default btn-fill btn-icon btn-sm">
                                <i class="ti-info"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="card-content">
                    	<div class="row">
                    		                    	<div class="col-xs-7">
                    	
                    		<div class="numbers pull-left">Hummingbird<p class="text-left">East</p></div>
                    		</div>
                    	</div>
                    	<div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <img src="/assets/img/room/hummingbird.svg" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Children</p>
                                    14
                                </div>
                                <div class="numbers">
                                    <p>Staff</p>
                                    3
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr />
                        <div class="footer-title">View details</div>
                        <div class="pull-right">
                            <button class="btn btn-default btn-fill btn-icon btn-sm">
                                <i class="ti-info"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
     	</div> <!-- end: ROW -->
     	
     	
     	        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="card-content">
                    	<div class="row">
                    		                    	<div class="col-xs-7">
                    	
                    		<div class="numbers pull-left">Squirrel<p class="text-left">East</p></div>
                    		</div>
                    	</div>
                    	<div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <img src="/assets/img/room/squirrel.svg" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Children</p>
                                    7
                                </div>
                                <div class="numbers">
                                    <p>Staff</p>
                                    1
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr />
                        <div class="footer-title">View details</div>
                        <div class="pull-right">
                            <button class="btn btn-default btn-fill btn-icon btn-sm">
                                <i class="ti-info"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="card-content">
                    	<div class="row">
                    		                    	<div class="col-xs-7">
                    	
                    		<div class="numbers pull-left">Ladybug<p class="text-left">Downtown</p></div>
                    		</div>
                    	</div>
                    	<div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <img src="/assets/img/room/ladybug.svg" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Children</p>
                                    12
                                </div>
                                <div class="numbers">
                                    <p>Staff</p>
                                    2
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr />
                        <div class="footer-title">View details</div>
                        <div class="pull-right">
                            <button class="btn btn-default btn-fill btn-icon btn-sm">
                                <i class="ti-info"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="card-content">
                    	<div class="row">
                    		                    	<div class="col-xs-7">
                    	
                    		<div class="numbers pull-left">Bumblebee<p class="text-left">Downtown</p></div>
                    		</div>
                    		<div class="col-xs-5">
                                <div class="pull-right">
                                    <span class="label label-warning">
                                        Overstaffed
                                    </span>
                                </div>
                            </div>
                    		
                    	</div>
                    	<div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <img src="/assets/img/room/bee.svg" />
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Children</p>
                                    7
                                </div>
                                <div class="numbers">
                                    <p>Staff</p>
                                    3
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr />
                        <div class="footer-title">View details</div>
                        <div class="pull-right">
                            <button class="btn btn-default btn-fill btn-icon btn-sm">
                                <i class="ti-info"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
                        
     	</div> <!-- end: ROW -->
     	
	</div>
</div>
