<div class="container-fluid">
	<div class="row">
		<div class="hidden-xs col-sm-4">
			<cw-food-item-list [ageGroup]="activeTab" [show]="showFoodList()"></cw-food-item-list>
		</div>
		
		<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<div class="row">
	<h3> 
		<span class="text-primary">Meal</span> 
	</h3>	
	<h3 *ngIf="!editing"  >
		<span (click)="editing = !editing" >
			<span tooltip="Click to edit" placement="bottom">{{mealForm.get('description').value}}</span> 
			<small tooltip="Click to edit" placement="bottom">{{mealForm.get('type').value }}</small>
		</span>
	</h3>
		<form *ngIf="editing" novalidate [formGroup]="mealForm">
			<div>
				<div class="form-group col-xs-4">
					<label for="name">Name</label>
					<input #name class="form-control" placeholder="Meal Name" formControlName="description" /> 
					<small class="text-danger" *ngIf="mealForm.get('description').hasError('required')">Meal name is required</small>
				</div>		

				<div class="form-group col-xs-2">
					<label for="type">Type</label>
					<select #type class="form-control" formControlName="type" >
						<option value="BREAKFAST">Breakfast</option>
						<option value="AM_SNACK">AM Snack</option>
						<option value="LUNCH">Lunch</option>
						<option value="PM_SNACK">PM Snack</option>
						<option value="DINNER">Dinner</option>
					</select>
					<small class="text-danger" *ngIf="mealForm.get('type').hasError('required')">Meal type is required</small>
				</div>	
			</div>				
		</form>
		<span class="pull-right" >
			<button type="button" 
					class="btn btn-lg" 
					(click)="save()"
					[class.btn-primary]="!canDeactivate() && mealForm.get('description').value && mealForm.get('type').value"
					[class.disabled]="canDeactivate() || mealForm.get('description').value === undefined || mealForm.get('type').value === undefined || emptyShow">
					<i class="fa fa-save"></i> Save</button>
		</span>				
	</div>
	<div class="row">
		<alert [type]="'warning'" *ngIf="!this.mealForm.valid">
			<h4 class="alert-heading"><i class="fa fa-exclamation-circle"></i> MEAL PLAN NAME/TYPE</h4>
			You must have a meal plan name and type before you can add food items.  Please set the name and type above
		</alert>	
	</div>						
	
	<div class="row">
		<strong>CACFP Status:</strong> 
			<span class="label" 
			[class.label-info]="mealCacfpStatus() === 'UNKNOWN' || mealCacfpStatus() === 'UNKNOWN / NO ITEMS'"
			[class.label-success]="mealCacfpStatus() === 'COMPLIANT'"
			[class.label-danger]="mealCacfpStatus() === 'NONCOMPLIANT'">{{mealCacfpStatus()}}</span>
	</div>

	<hr />
	
	<div class="row">
	<accordion >
	  <accordion-group #group [isOpen]="false">
	    <div accordion-heading>
	      <i class="fa fa-info-circle"></i> <strong>Meal Pattern Help</strong>
	      <i class="pull-right float-xs-right glyphicon"
	         [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
	    </div>
	    	<p><cw-meal-pattern-help [ageGroup]="activeTab" [mealType]="mealForm.get('type').value"></cw-meal-pattern-help></p>
	  </accordion-group>
	</accordion>
	</div>
	
	<div class="row">
		<alert  [type]="'danger'" *ngIf="rulesViolationsForCurrentAgeGroup('FAIL').length">
			<h4 class="alert-heading"><i class="fa fa-exclamation-triangle"></i> CACFP Compliance Errors</h4>	
			<ul><li *ngFor="let violation of rulesViolationsForCurrentAgeGroup('FAIL')" >{{violation.message}}</li></ul>		
		</alert>	

		<alert  [type]="'warning'" *ngIf="rulesViolationsForCurrentAgeGroup('WARN').length" >
			<h4 class="alert-heading"><i class="fa fa-exclamation-triangle"></i> CACFP Compliance Warnings</h4>	
			<ul><li *ngFor="let violation of rulesViolationsForCurrentAgeGroup('WARN')" >{{violation.message}}</li></ul>		
		</alert>	

		<alert  [type]="'info'" *ngIf="rulesViolationsForCurrentAgeGroup('INFO').length">
			<h4 class="alert-heading"><i class="fa fa-exclamation-triangle"></i> CACFP Compliance Info</h4>	
			<ul><li *ngFor="let violation of rulesViolationsForCurrentAgeGroup('INFO')" >{{violation.message}}</li></ul>		
		</alert>	


	</div>
	
	<div class="hidden-xs row">
		<label>Age Group</label>
		<tabset>
			<tab *ngFor="let ageGroup of AGEGROUPS"
				 (select)="activeTab=ageGroup">
				 	<template tabHeading>
				 		<i class="fa"
				 		   [class.fa-check]="ageGroupCacfpStatus(ageGroup)==='COMPLIANT'"
				 		   [class.fa-close]="ageGroupCacfpStatus(ageGroup)==='NONCOMPLIANT'"
				 		   [class.fa-question-circle]="ageGroupCacfpStatus(ageGroup)==='UNKNOWN'"
				 		   [class.text-success]="ageGroupCacfpStatus(ageGroup)==='COMPLIANT'"
				 		   [class.text-danger]="ageGroupCacfpStatus(ageGroup)==='NONCOMPLIANT'"
				 		   [class.text-info]="ageGroupCacfpStatus(ageGroup)==='UNKNOWN'"></i>&nbsp;
				 		   {{ageGroup.substring(4).replace('_','-').replace('MO',' MO').replace('YR',' YR')}}
				 	</template>
				 	
				 	
				 	<div class="panel" dnd-droppable (onDropSuccess)="droppedFoodItem( $event.dragData )" >
						
					 	<cw-food-item *ngFor="let mealFoodItem of mealFoodItemsFor( ageGroup )"
		 					[mealFoodItem]="mealFoodItem" 
		 					(changed)="changed($event)" 
		 					(deleted)="deleted($event)"></cw-food-item>	
		 					
				 		<p class="panel-body">
				 			<strong *ngIf="showFoodList()">Drag items from the food list and drop here to create a meal <span *ngIf="!emptyShow">or click <a (click)="emptyShow=true">here</a> to search all items to add</span></strong>
				 			<strong *ngIf="!showFoodList()"><em>Set a meal name/type to add food items</em></strong>
				 		</p>
				 		
				 		<cw-food-item *ngIf="emptyShow" (selectedItem)="droppedFoodItem($event); emptyShow=false;"></cw-food-item>

					</div>	
					 					
	 				<hr />
			</tab>		     
		</tabset>
	</div>
	
	
	<div class="visible-xs-block row">
			<span dropdown container="body">
				<label>Age Group:</label> <a dropdownToggle (click)="false">{{activeTab.substring(4).replace('_','-').replace('MO',' MO').replace('YR',' YR')}} <i class="fa fa-chevron-down"></i></a> 
				<i class="fa"
				 		   [class.fa-check]="ageGroupCacfpStatus(activeTab)==='COMPLIANT'"
				 		   [class.fa-close]="ageGroupCacfpStatus(activeTab)==='NONCOMPLIANT'"
				 		   [class.fa-question-circle]="ageGroupCacfpStatus(activeTab)==='UNKNOWN'"
				 		   [class.text-success]="ageGroupCacfpStatus(activeTab)==='COMPLIANT'"
				 		   [class.text-danger]="ageGroupCacfpStatus(activeTab)==='NONCOMPLIANT'"
				 		   [class.text-info]="ageGroupCacfpStatus(activeTab)==='UNKNOWN'"></i>
				<ul *dropdownMenu class="dropdown-menu">
					<li ><a class="dropdown-item" (click)="activeTab = 'AGE_0_5MO'">0 - 5 MO</a></li>
					<li ><a class="dropdown-item" (click)="activeTab = 'AGE_6_11MO'">6 - 11 MO</a></li>
					<li ><a class="dropdown-item" (click)="activeTab = 'AGE_1_2YR'">1 - 2 YR</a></li>
					<li ><a class="dropdown-item" (click)="activeTab = 'AGE_3_5YR'">3 - 5 YR</a></li>
					<li ><a class="dropdown-item" (click)="activeTab = 'AGE_6_12YR'">6 - 12 YR</a></li>
					<li ><a class="dropdown-item" (click)="activeTab = 'AGE_13_18YR'">13 - 18 YR</a></li>
				</ul>
			</span>	
			<hr />
		 	<div class="panel" dnd-droppable (onDropSuccess)="droppedFoodItem( $event.dragData )" >
				 	
			 	<cw-food-item *ngFor="let mealFoodItem of mealFoodItemsFor( activeTab )"
	   	 					  [mealFoodItem]="mealFoodItem" 
		 					  (changed)="changed($event)" 
		 					  (deleted)="deleted($event)"></cw-food-item>	
		 					  
		 		<cw-food-item (selectedItem)="droppedFoodItem($event)"></cw-food-item>
			</div>	 					
	</div>
		
		</div>
	
	
	</div>
	



</div>
