td.rotate {
  height:40px;
  white-space: nowrap;
  position:relative;
  vertical-align: middle
}

td.rotate > div {
  transform: rotate(-90deg);
  position:absolute;
  left:0;
  right:0;
  top: 10px;
  margin:auto;
}