<div class="main-content">
	<div class="container-fluid" style="overflow:visible">
	
		<div class="row">
		
			<!-- Left -->
			<div class="col-sm-2">
				<div class="card ">
					<div class="card-header">
					    <h4 class="card-title">Meals</h4>
					</div>
					<div class="card-content">
				       <div class="table-responsive">
				              <table class="table">
								<tbody>
									<tr *ngFor="let meal of Meals">
										<td><img class="fixed_width" 
											[src]="'/assets/img/meal/' + (( meal.type === 'BREAKFAST')? 'breakfast.svg': ( meal.type === 'AM_SNACK')? 'ante-meridiem.svg' : ( meal.type === 'LUNCH')? 'lunch.svg' : ( meal.type === 'PM_SNACK')? 'post-meridiem.svg' : 'nachos.svg')" /></td>
										<td>{{meal.description}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			
			<!-- Right -->
			<div class="col-sm-10">
					<div class="text-center">
						<h3>
							<i class="fa fa-chevron-left pull-left" (click)="adjustTime(-1)"></i>
							{{ weekStart | date: 'dd MMM'}} - {{ weekEnd | date: 'dd MMM' }} 
							<i class="fa fa-chevron-right pull-right" (click)="adjustTime(1)"></i>
						</h3>
					</div>
					
					<cw-meal-card [hidden]="!show && id != 0" 
								  [class.col-sm-6] = "id != 0"
								  [class.col-lg-2] = "id != 0"
								  class="col-lg-offset-1 col-sm-offset-0" 
								  [scheduleDate]="'2017 JUL 31'"  
								  (showHideDetails)="changed( 0, $event )"></cw-meal-card>
					<cw-meal-card [hidden]="!show && id != 1" 
								  (showHideDetails)="changed( 1, $event )" 
								  [scheduleDate]="'2017 AUG 01'" 
								  [class.col-sm-6] = "id != 1"
								  [class.col-lg-2] = "id != 1" ></cw-meal-card>
					<cw-meal-card [hidden]="!show && id != 2" 
								  (showHideDetails)="changed( 2, $event )" 
								  [scheduleDate]="'2017 AUG 02'" 
								  [class.col-sm-6] = "id != 2"
								  [class.col-lg-2] = "id != 2" ></cw-meal-card>
					<cw-meal-card [hidden]="!show && id != 3" 
								  (showHideDetails)="changed( 3, $event )" 
								  [scheduleDate]="'2017 AUG 03'" 
								  [class.col-sm-6] = "id != 3"
								  [class.col-lg-2] = "id != 3" ></cw-meal-card>
					<cw-meal-card [hidden]="!show && id != 4" 
								  (showHideDetails)="changed( 4, $event )" 
								  [scheduleDate]="'2017 AUG 04'" 
								  [class.col-sm-6] = "id != 4"
								  [class.col-lg-2] = "id != 4" ></cw-meal-card>			
			</div>
			
		</div>
	</div>
</div>
