<div class="main-content">
	<div class="container-fluid" style="overflow:visible">
	
		<div class="row">
		
			<!-- Left

			<div class="col-md-2">
				<div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><strong>Menu Items</strong></h4>
                    </div>
                    <div class="card-content">
                    <div class="table-responsive table-simple">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td ><img src="/assets/img/meal/breakfast.svg" height="32" width="32" /></td>
                                                <td class="text-right">Breakfast #1</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/breakfast.svg" height="32" width="32" /></td>
                                                <td class="text-right">Breakfast #2</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/breakfast.svg" height="32" width="32" /></td>
                                                <td class="text-right">Breakfast #3</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/breakfast.svg" height="32" width="32" /></td>
                                                <td class="text-right">Breakfast #4</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/breakfast.svg" height="32" width="32" /></td>
                                                <td class="text-right">Breakfast #5</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/breakfast.svg" height="32" width="32" /></td>
                                                <td class="text-right">Breakfast #6</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/breakfast.svg" height="32" width="32" /></td>
                                                <td class="text-right">Breakfast #7</td>
                                            </tr>

                                            <tr>
                                                <td ><img src="/assets/img/meal/ante-meridiem.svg"  height="32" width="32" /></td>
                                                <td class="text-right">Snack #1</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/ante-meridiem.svg"  height="32" width="32" /></td>
                                                <td class="text-right">Snack #2</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/ante-meridiem.svg"  height="32" width="32" /></td>
                                                <td class="text-right">Snack #3</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/ante-meridiem.svg"  height="32" width="32" /></td>
                                                <td class="text-right">Snack #4</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/ante-meridiem.svg"  height="32" width="32" /></td>
                                                <td class="text-right">Snack #5</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/lunch.svg" height="32" width="32" /></td>
                                                <td class="text-right">Lunch #1</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/lunch.svg" height="32" width="32" /></td>
                                                <td class="text-right">Lunch #2</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/lunch.svg" height="32" width="32" /></td>
                                                <td class="text-right">Lunch #3</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/lunch.svg" height="32" width="32" /></td>
                                                <td class="text-right">Lunch #4</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/lunch.svg" height="32" width="32" /></td>
                                                <td class="text-right">Lunch #5</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/lunch.svg" height="32" width="32" /></td>
                                                <td class="text-right">Lunch #6</td>
                                            </tr>
                                            <tr>
                                                <td ><img src="/assets/img/meal/lunch.svg" height="32" width="32" /></td>
                                                <td class="text-right">Lunch #7</td>
                                            </tr>
                                        </tbody>
                                   	</table>                                   	
                                </div>
                    </div>
                </div>			
			</div>
			-->
			
			<!-- Right -->
			<div>
					<div class="text-center"><h3><i class="fa fa-chevron-left pull-left"></i>31 JULY - 04 AUG<i class="fa fa-chevron-right pull-right"></i></h3></div>
					<cw-meal-card [scheduleDate]="'2017 JUL 31'" class="col-lg-offset-1 col-sm-offset-0 col-sm-6 col-lg-2" ></cw-meal-card>
					<cw-meal-card [scheduleDate]="'2017 AUG 01'" class="col-sm-6 col-lg-2" ></cw-meal-card>
					<cw-meal-card [scheduleDate]="'2017 AUG 02'" class="col-sm-6 col-lg-2" ></cw-meal-card>
					<cw-meal-card [scheduleDate]="'2017 AUG 03'" class="col-sm-6 col-lg-2" ></cw-meal-card>
					<cw-meal-card [scheduleDate]="'2017 AUG 04'" class="col-sm-6 col-lg-2" ></cw-meal-card>			
			</div>
			
		</div>
	</div>
</div>
