<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Childwatch Gateway</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

<table class="table table-condensed">
	<thead>
		<tr>
			<th>Active</th>
			<th>Name</th>
			<th>Description</th>
			<th>Version</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let client of Clients">
			<td class="col-xs-1"><input type="checkbox" [(ngModel)]="client.active"/></td>
			<td class="col-xs-3"><a href="/client/{{client.id}}" target="_blank">{{client.name}} <i class="fa fa-external-link"></i></a></td>
			<td class="col-xs-3">{{client.description}}</td>
			<td class="col-xs-2">{{client.version}}</td>
			<td class="col-xs-3"><button class="disabled btn btn-success"><i class="fa fa-play"></i> Start</button><button class="disabled btn btn-danger"><i class="fa fa-stop"></i> Stop</button><button class="disabled btn"><i class="fa fa-trash"></i> Drop Tables</button></td>
		</tr>
	</tbody>
	

</table>

<div>
	<hr />
	<a><i class="text-info fa fa-plus-circle"></i> Add client...</a>	
</div>

</div>

