<div class="bg-primary row">
		<span class="col-sm-1">
			<img class="img-circle" src='/assets/baby2.jpg' width="120" height="120" style="position: relative; bottom: -35px; left:5px; z-index: 10" />
			<i class="fa fa-pencil text-primary" style="display: inline-block; border-radius: 60px;box-shadow: 0px 0px 2px #888;padding: 0.5em 0.6em;background-color: white; position: relative; bottom: 10px; left:105px; z-index: 11"></i>	
		</span>
		<span class="col-sm-8 h1" style="margin-left: 15px">{{entity?.firstName}} {{entity?.lastName}}</span>
		<span class="col-sm-2 pull-right"><a style="color: white" [routerLink]="'/entity'"><i class="fa fa-chevron-left"> Back to Search</i></a></span>
</div>
