.circle-img {
  min-height: 60px;
  height: 175px;
  min-width: 60px;
  width: 175px;
  border: 2px solid #FFB300;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}