<div class="card " [@changeAnimation]="detailsShowing">
	<div class="card-header">
	    <h4 class="card-title">{{scheduleDate | date: 'EEEE' }}</h4>
	    <p class="category">{{scheduleDate | date: 'dd MMM y' }}</p>
	</div>
	<div class="card-content">
       <div class="table-responsive">
              <table class="table">
              	<thead>
              		<tr *ngIf="false"><th class="col-sm-2"></th><th  class="col-sm-10"></th>
				</thead>
                <tbody>
                    <tr>
                        <td >
                        	<img src="/assets/img/meal/breakfast.svg" height="32" width="32" />
                       	</td>
                        <td class="text-right">
                        	<span *ngIf="breakfast">
	                        	<strong>{{ breakfast.description }}</strong>
    	                    	<div *ngIf="detailsShowing"> <div *ngFor="let item of breakfast.mealFoodItems"> <em>{{item.foodItem.description}}, {{item.amount}} {{item.units}}</em></div></div>
    	                   	</span>
    	                   	<span *ngIf="!breakfast">
    	                   		<strong><em>No Breakfast</em></strong>
    	                   	</span> 
                        </td>
                    </tr>
                    
                    <tr>
                        <td >
                        	<img src="/assets/img/meal/ante-meridiem.svg" height="32" width="32" />
                       	</td>
                        <td class="text-right">
                        	<span *ngIf="amSnack">
	                        	<strong>{{ amSnack.description }}</strong>
    	                    	<div *ngIf="detailsShowing"><div *ngFor="let item of amSnack.mealFoodItems"> <em>{{item.foodItem.description}}, {{item.amount}} {{item.units}}</em></div></div>
    	                   	</span>
    	                   	<span *ngIf="!amSnack">
    	                   		<strong><em>No AM Snack</em></strong>
    	                   	</span> 
                        </td>
                    </tr>                    
                    
                    <tr>
                        <td >
                        	<img src="/assets/img/meal/lunch.svg" height="32" width="32" />
                       	</td>
                        <td class="text-right">
                        	<span *ngIf="lunch">
	                        	<strong>{{ lunch.description }}</strong>
    	                    	<div *ngIf="detailsShowing"><div *ngFor="let item of lunch.mealFoodItems"> <em>{{item.foodItem.description}}, {{item.amount}} {{item.units}}</em></div></div>
    	                   	</span>
    	                   	<span *ngIf="!lunch">
    	                   		<strong><em>No Lunch</em></strong>
    	                   	</span> 
                        </td>
                    </tr>                    

                    <tr>
                        <td >
                        	<img src="/assets/img/meal/post-meridiem.svg" height="32" width="32" />
                       	</td>
                        <td class="text-right">
                        	<span *ngIf="pmSnack">
	                        	<strong>{{ pmSnack.description }}</strong>
    	                    	<div *ngIf="detailsShowing"><div *ngFor="let item of pmSnack.mealFoodItems"> <em>{{item.foodItem.description}}, {{item.amount}} {{item.units}}</em></div></div>
    	                   	</span>
    	                   	<span *ngIf="!pmSnack">
    	                   		<strong><em>No PM Snack</em></strong>
    	                   	</span> 
                        </td>
                    </tr>                    

                </tbody>
          	</table>                                   	
          </div>                                
     </div>
     <div class="card-footer">
          <hr />
          <a class="footer-title" (click)="toggleDetailsShowing()" >{{ (detailsShowing)? 'Hide' : 'Show' }} details</a>
          <!--
          <div class="pull-right">
              <button class="btn btn-default btn-fill btn-icon btn-sm">
                  <i class="ti-info"></i>
              </button>
          </div>
          -->
      </div>                                                        
</div>

