<ng-container *ngIf="!!person">
  <form [formGroup]="recurringSchedule">
    <h2>{{person.firstName + ' ' + person.lastName}}</h2>
    <div fxLayout="row" formArrayName="schedules" fxLayoutWrap fxLayoutGap="10px">
      <md-card *ngFor="let schedule of days; let i=index" class="day-container">
        <header class="day-title">{{weekdays[i]}}</header>
        <div [formGroupName]="i">
          <div fxLayout="row" class="inputs">
            <md-input-container><input mdInput placeholder="Start" type="text" formControlName="start1"></md-input-container>
            <md-input-container><input mdInput placeholder="End" type="text" formControlName="end1"></md-input-container> 
          </div>
          <div fxLayout="row" class="inputs">
            <md-input-container><input mdInput placeholder="Start" type="text" formControlName="start2"></md-input-container>
            <md-input-container><input mdInput placeholder="End" type="text" formControlName="end2"></md-input-container>
          </div>
          <md-error 
            *ngIf="schedule.get('start1').invalid && schedule.get('start1').touched ||
            schedule.get('start2').invalid && schedule.get('start2').touched ||
            schedule.get('end1').invalid && schedule.get('end1').touched ||
            schedule.get('end2').invalid && schedule.get('end2').touched">
            Enter time as HH:MM
          </md-error>
        </div>
      </md-card>
    </div>
    <div class="col s4">
      <button md-raised-button (click)="click()" [disabled]="!recurringSchedule.valid">Update Schedule</button>
    </div>
  </form>
</ng-container>

<style>
  .day-container {
    margin-bottom: 10px;
  }

  .inputs {
    max-width: 175px;
  }

  .day-title {
    margin-bottom: 14px;
    text-align: center;
  }

  label {
    margin-top: 10px;
    display: block;
  }

  button {
    margin-top: 20px;
  }

  form {
    padding: 20px;
  }

  md-input-container {
    margin: 0 10px;
  }

</style>
