<div>
    <div class="top-bar" fxLayout="row" fxLayout.sm="column" fxLayoutGap="10px">
      <div class="header" *ngIf="(operation$ | async) === 'SCHEDULE_REVIEW'">
        <h2>Schedule / Review</h2>
        <a (click)="operation$.next('LIVE_VIEW')">
          <md-icon>arrow_forward</md-icon>Live view
        </a>
      </div>
      <div class="header" *ngIf="(operation$ | async) === 'LIVE_VIEW'">
        <h2>Live view <span class="current-time"><md-icon>watch_later</md-icon> {{dateTime$ | async | date:'shortTime'}}</span></h2>
        <a (click)="operation$.next('SCHEDULE_REVIEW')">
          <md-icon>arrow_forward</md-icon>Schedule / Review
        </a>
      </div>
      <div>
        View: <br>

        <md-button-toggle-group
            #group="mdButtonToggleGroup"
            [value]="viewMode$ | async"
            (change)="viewMode$.next($event.value)">
          <md-button-toggle value="SNAPSHOT">
            Snapshot
          </md-button-toggle>
          <md-button-toggle value="TIMELINE">
            Timeline
          </md-button-toggle>
          <md-button-toggle value="SNAPSHOT_TIMELINE">
            Both
          </md-button-toggle>
        </md-button-toggle-group>
      </div>
      <ng-container *ngIf="(operation$ | async) === 'SCHEDULE_REVIEW'">
        <div>
          <label>Date:
            <input type="date" [formControl]="dateControl">
            <br>
            <md-slider
              [min]="-7"
              [max]="7"
              [step]="1"
              [tick-interval]="1"
              [value]="dateOffset$ | async"
              (input)="dateSliderMoved($event.value)">
            </md-slider>
          </label>
        </div>
        <div>
          <label>Time: <br>
          <md-slider
              [min]="sliderMin"
              [max]="sliderMax"
              [step]="sliderStep"
              [tick-interval]="sliderTick"
              [value]="time$ | async"
              (input)="time$.next($event.value)">
          </md-slider>
          </label> {{dateTime$ | async | date:'shortTime'}}
        </div>
      </ng-container>
    </div>

    <div fxLayout="row" class="main-view">
      <div [ngSwitch]="viewMode$ | async" class="scroll-y">

        <div class="care-center" *ngSwitchCase="'SNAPSHOT'">
          <div class="building" fxLayout="row" fxLayoutWrap fxLayoutGap="10px">
            <md-card *ngFor="let room of (rooms$ | async)">
              <md-card-header><md-card-title>{{room.name}}</md-card-title></md-card-header>
              <room-snapshot
                [room]="room.snapshot"
                [operation]="operation$ | async"
                fxFlex="0 0 300px">
              </room-snapshot>
            </md-card>
          </div>
        </div>

        <div class="care-center" *ngSwitchCase="'TIMELINE'">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutWrap>
              <md-card *ngFor="let room of (rooms$ | async)">
              <md-card-header><md-card-title>{{room.name}}</md-card-title></md-card-header>
              <room-timeline
                [room]="room.timeline"
                [dateTime]="dateTime$ | async"
                [dayStart]="dayStart$ | async"
                fxFlex="0 0 300px"></room-timeline>
              </md-card>
          </div>
        </div>

        <div class="care-center" *ngSwitchCase="'SNAPSHOT_TIMELINE'">
          <div class="building">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutWrap>
              <md-card *ngFor="let room of (rooms$ | async)" class="classroom-card">
                <md-card-header><md-card-title>{{room.name}}</md-card-title></md-card-header>
                <md-card-content fxLayout="row">
                  <room-snapshot
                    [room]="room.snapshot"
                    [operation]="operation$ | async"
                    fxFlex="0 0 300px">
                  </room-snapshot>
                  <room-timeline
                    [room]="room.timeline"
                    [dateTime]="dateTime"
                    [dayStart]="dayStart"
                    fxFlex="0 0 300px">
                  </room-timeline>
                </md-card-content>
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
