<div class="row">
	<h3 class="text-primary pull-right"> {{day | date: "EEE, MMM d, y" }}</h3>
	<span class="pull-left btn-group" role="group">
		<button type="button" class="btn" ><i class="fa fa-chevron-left"></i></button>
		<button type="button" class="btn" (click)="gotoToday()">Today</button>
		<button type="button" class="btn" ><i class="fa fa-chevron-right"></i></button>
	</span>
</div>
	<hr />

<div class="row">
	<table class="table table-condensed" >
		<tr *ngFor="let event of todaysEvents()" dnd-draggable [dragEnabled]="true" [dragData]="meal" >
			<td class="col-xs-1" [ngSwitch]="event.meta.meal.type">
				<img class="small-img" *ngSwitchCase="'BREAKFAST'" src="/assets/img/meal/breakfast.svg" />
				<img class="small-img" *ngSwitchCase="'AM_SNACK'" src="/assets/img/meal/ante-meridiem.svg" />
				<img class="small-img" *ngSwitchCase="'LUNCH'" src="/assets/img/meal/lunch.svg" />
				<img class="small-img" *ngSwitchCase="'PM_SNACK'" src="/assets/img/meal/post-meridiem.svg" />
				<img class="small-img" *ngSwitchCase="'DINNER'" src="/assets/img/food/turkey.svg" />
			</td>
			<td class="col-xs-10">
				<strong class="text-primary">
					<span>{{limit( event.meta.meal.description )}}</span>
				</strong><br />
				<span><em>{{event.meta.meal.type}}</em></span>
			</td>
			<td class="col-xs-1">
				<i (click)="editMeal(event.meta.meal)" class="text-primary fa fa-pencil"></i>
				<i class="text-warning fa fa-star-o"></i>
				<i class="text-danger fa fa-close" (click)="removeMealEvent(event)"></i>
			</td>
		</tr>				
	</table>
</div>
