<div class="modal-header">
	<h4>Add Meal for {{ day.date | date:'mediumDate'}}</h4>
</div>

<div class="modal-body">
	<h4>Select meal to add</h4>
	<hr />
	<ul style="list-style-type: none;">
	 <li *ngFor="let meal of filteredMeals()" 
	 	 class="chip" 
	 	 [ngSwitch]="meal.type" 
	 	 (click)="addMeal(meal)">
  		<img  *ngSwitchCase="'BREAKFAST'" src="/assets/img/meal/breakfast.svg" />
        <img *ngSwitchCase="'AM_SNACK'" src="/assets/img/meal/ante-meridiem.svg" />
        <img *ngSwitchCase="'LUNCH'" src="/assets/img/meal/lunch.svg" />
        <img *ngSwitchCase="'PM_SNACK'" src="/assets/img/meal/post-meridiem.svg" />
        <img *ngSwitchCase="'DINNER'" src="/assets/img/meal/turkey.svg" />
  		{{meal.description}}
	  </li>
	  </ul>
</div>
