<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
    <div class="navbar-header">
    	<a class="logo pull-left" href="#"><img class="sm-img" src="/assets/img/childwatch.png"/></a>
        <span class="name pull-left"><strong>Childwatch</strong></span>
    </div>
    	<div class="collapse navbar-collapse" id="myNavbar">
    	<ul class="nav navbar-nav navbar-right">
    		<li><a class="active" (click)="navToCalendar()"><i class="fa fa-calendar"></i> Meal Schedule</a></li>
    		<li class="hidden-xs" dropdown>
	          <a dropdownToggle><i class="fa fa-gear"></i> <span class="caret"></span></a>
	          <ul *dropdownMenu class="dropdown-menu">
	            <li class="dropdown-header">Theme</li>
	            <li><a class="dropdown-item" (click)="setTheme('cerulean')"><i *ngIf="currentTheme === 'cerulean'" class="fa fa-check"></i> Cerulean</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('cosmo')"><i *ngIf="currentTheme === 'cosmo'" class="fa fa-check"></i> Cosmo</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('cyborg')"><i *ngIf="currentTheme === 'cyborg'" class="fa fa-check"></i> Cyborg</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('darkly')"><i *ngIf="currentTheme === 'darkly'" class="fa fa-check"></i> Darkly</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('flatly')"><i *ngIf="currentTheme === 'flatly'" class="fa fa-check"></i> Flatly</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('journal')"><i *ngIf="currentTheme === 'journal'" class="fa fa-check"></i> Journal</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('lumen')"><i *ngIf="currentTheme === 'lumen'" class="fa fa-check"></i> Lumen</a></li>	            
	            <li><a class="dropdown-item" (click)="setTheme('paper')"><i *ngIf="currentTheme === 'paper'" class="fa fa-check"></i> Paper</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('readable')"><i *ngIf="currentTheme === 'readable'" class="fa fa-check"></i> Readable</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('sandstone')"><i *ngIf="currentTheme === 'sandstone'" class="fa fa-check"></i> Sandstone</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('simplex')"><i *ngIf="currentTheme === 'simplex'" class="fa fa-check"></i> Simplex</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('slate')"><i *ngIf="currentTheme === 'slate'" class="fa fa-check"></i> Slate</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('spacelab')"><i *ngIf="currentTheme === 'spacelab'" class="fa fa-check"></i> Spacelab</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('superhero')"><i *ngIf="currentTheme === 'superhero'" class="fa fa-check"></i> Superhero</a></li>
	            <li><a class="dropdown-item" (click)="setTheme('united')"><i *ngIf="currentTheme === 'united'" class="fa fa-check"></i> United</a></li>	            	            
	            <li><a class="dropdown-item" (click)="setTheme('yeti')"><i *ngIf="currentTheme === 'yeti'" class="fa fa-check"></i> Yeti</a></li>
	          </ul>
	        </li>
    	</ul>
    	</div>
    </div>
</nav>

<div style='padding-top: 70px;'>
	<router-outlet></router-outlet>
</div>

