.people-side-panel {
  border-right: 1px solid #a0a0a0;
  overflow-x: hidden;
}

md-card {
  padding: 5px;
  margin: 5px;
}

.view-height {
  height: calc(100vh - 175px);
  overflow: auto;
  overflow-x: hidden;
}
