<h4>Meal Pattern Guidance</h4>

<span *ngIf="currentMeal.type === 'BREAKFAST'">
<h5>BREAKFAST</h5>
<ul *ngIf="currentAgeGroup === 'AGE_0_5MO'">
	<li>4-6 fl. oz. Breast Milk or Iron Fortified Infant Formula</li>
</ul>
<ul *ngIf="currentAgeGroup === 'AGE_6_11MO'">
	<li>4-6 fl. oz. Breast Milk or Iron Fortified Infant Formula</li>
	<li>2-4 tbsp. Iron Fortified Infant Cereal</li>
	<li>1-4 tbsp. Fruit or Vegetable or both</li>	
</ul>

<ul *ngIf="currentAgeGroup === 'AGE_1_2YR'">
	<li>Milk - ½ Cup</li>
	<li>Vegetables/Fruit - 1/4 Cup</li>
	<li>Grains - ½ oz eq <em>Note: Meat/alternates may replace the grains component up to three times per week.</em></li>
</ul>
<ul *ngIf="currentAgeGroup === 'AGE_3_5YR'">
	<li>Milk - 3/4 Cup</li>
	<li>Vegetables/Fruit - ½ Cup</li>
	<li>Grains - ½ oz eq <em>Note: Meat/alternates may replace the grains component up to three times per week.</em></li>
</ul>
<ul *ngIf="currentAgeGroup === 'AGE_6_12YR' || currentAgeGroup === 'AGE_13_18YR'">
	<li>Milk - 1 Cup</li>
	<li>Vegetables/Fruit - 1/2 Cup</li>
	<li>Grains - 1 oz eq <em>Note: Meat/alternates may replace the grains component up to three times per week.</em></li>
</ul>
<ul *ngIf="currentAgeGroup === 'AGE_ADULT'">
	<li>Milk - 1 Cup</li>
	<li>Vegetables/Fruit - ½ Cup</li>
	<li>Grains - 2 oz eq <em>Note: Meat/alternates may replace the grains component up to three times per week.</em></li>
</ul>
</span>

<span *ngIf="currentMeal.type === 'LUNCH' || currentMeal.type === 'DINNER'">
<h5>Lunch/Dinner</h5>
<ul *ngIf="currentAgeGroup === 'AGE_0_5MO'">
	<li>4-6 fl. oz. Breast Milk or Iron Fortified Infant Formula</li>
</ul>
<ul *ngIf="currentAgeGroup === 'AGE_6_11MO'">
	<li>6-8 fl. oz. Breast Milk or Iron Fortified Infant Formula <strong>and</strong></li>
	<li>2-4 tbsp. Iron Fortified Infant Cereal <strong>and/or</strong></li>
	<li>1-4 tbsp. Meat, Fish, Poultry, Egg Yolk, or Cooked Dry Beans or Peas; <strong>or</strong></li> 
	<li>½ -2 oz. of Cheese; <strong>or</strong> </li>
	<li>1-4 oz. (volume) Cottage Cheese; <strong>or</strong> 
	<li>1-4 oz. (weight) of Cheese Food or Cheese Spread; <strong>and</strong>
	<li>1-4 tbsp. Fruit or Vegetable or both</li>
</ul>

<ul *ngIf="currentAgeGroup === 'AGE_1_2YR'">
	<li>Milk - ½ Cup</li>
	<li>Meat/Alternative - 1 oz </li>
	<li>Vegetables - 1/8 Cup</li>
	<li>Fruit - 1/8 Cup</li>
	<li>Grains - ½ oz eq</li>
</ul>
<ul *ngIf="currentAgeGroup === 'AGE_3_5YR'">
	<li>Milk - 3/4 Cup</li>
	<li>Meat/Alternative - 1 ½ oz</li>
	<li>Vegetables - 1/4 Cup</li>
	<li>Fruit - 1/4 Cup</li>
	<li>Grains - ½ oz eq</li>
</ul>
<ul *ngIf="currentAgeGroup === 'AGE_6_12YR' || currentAgeGroup === 'AGE_13_18YR'">
	<li>Milk - 1 Cup</li>
	<li>Meat/Alternative - 2 oz</li>
	<li>Vegetables - ½ Cup</li>
	<li>Fruit - 1/4 Cup</li>
	<li>Grains - 1 oz eq</li>
</ul>
<ul *ngIf="currentAgeGroup === 'AGE_ADULT'">
	<li>Meat/Alternative - 2 oz</li>
	<li>Vegetables - ½ Cup</li>
	<li>Fruit - ½ Cup</li>
	<li>Grains - 2 oz eq</li>
</ul>
</span>

<span *ngIf="currentMeal.type === 'AM_SNACK' || currentMeal.type === 'PM_SNACK'">
<h5>Lunch/Dinner</h5>
<ul *ngIf="currentAgeGroup === 'AGE_0_5MO'">
	<li>4-6 fl. oz. Breast Milk or Iron Fortified Infant Formula</li>
</ul>
<ul *ngIf="currentAgeGroup === 'AGE_6_11MO'">
	<li>2-4 fl. oz. Breast Milk or Iron Fortified Infant Formula or Fruit Juice <strong>and</strong></li>
	<li>0-½ Slice Bread <strong>or</strong></li>
	<li>0-2 Crackers</li>
</ul>

<div *ngIf="currentAgeGroup !== 'AGE_0_5MO' || currentAgeGroup !== 'AGE_6_11MO'">
Select at least 2 of the following:
</div>
<ul *ngIf="currentAgeGroup === 'AGE_1_2YR' || currentAgeGroup === 'AGE_3_5YR'">
	<li>Milk - ½ Cup</li>
	<li>Meat/Alternative - ½ oz</li>
	<li>Vegetables - ½ Cup</li>
	<li>Fruit - ½ Cup</li>
	<li>Grains - ½ oz eq</li>
</ul>
<ul *ngIf="currentAgeGroup === 'AGE_6_12YR' || currentAgeGroup === 'AGE_13_18YR'">
	<li>Milk - 1 Cup</li>
	<li>Meat/Alternative - 1 oz</li>
	<li>Vegetables - 3/4 Cup</li>
	<li>Fruit - 3/4 Cup</li>
	<li>Grains - 1 oz eq</li>
</ul>
<ul *ngIf="currentAgeGroup === 'AGE_ADULT'">
	<li>Milk - 1 Cup</li>
	<li>Meat/Alternative - 1 oz</li>
	<li>Vegetables - ½ Cup</li>
	<li>Fruit - ½ Cup</li>
	<li>Grains - 1 oz eq</li>
</ul>
</span>


<h5>General</h5>
<ul>
	<li *ngIf="currentAgeGroup === 'AGE_6_11MO'">Vegetable or fruit, or both, required to be served at snack for infants 6 through 11 months old.</li>
	<li *ngIf="currentAgeGroup === 'AGE_0_5MO' || currentAgeGroup === 'AGE_6_11MO'">Juice or cheese food or cheese spread are no longer allowed to be served.</li>
	<li *ngIf="currentAgeGroup === 'AGE_0_5MO' || currentAgeGroup === 'AGE_6_11MO'">Allows ready-to-eat cereals at snack.</li>
	<li>At least one serving of grains per day must be whole grain-rich.</li>
	<li>Grain-based desserts no longer count towards the grain component (sweet crackers allowed).</li>
	<li *ngIf="currentMeal.type === 'BREAKFAST">Meat and meat alternates may be served in place of the entire grains component at breakfast a maximum of three times per week.</li>
	<li>Yogurt must contain no more than 23 grams of sugar per 6 ounces.</li>
	<li *ngIf="currentAgeGroup === 'AGE_1_2YR">Unflavored whole milk must be served to 1 year olds;</li>
	<li *ngIf="currentAgeGroup === 'AGE_3_5YR">Unflavored low-fat or fat-free milk must be served to children 2 through 5 years old;</li>
	<li *ngIf="currentAgeGroup === 'AGE_6_12YR || currentAgeGroup === '13_18YR' || currentAgeGruop === 'AGE_ADULT'">Unflavored low-fat, unflavored fat-free, or flavored fat-free milk must be served to children 6 years old and older and adults.</li>
	<li>Non-dairy milk substitutes that are nutritionally equivalent to milk may be served in place of milk to children or adults with medical or special dietary needs.</li>
	<li *ngIf="currentMeal.type === 'BREAKFAST">Breakfast cereals must contain no more than 6 grams of sugar per dry ounce.</li>
	<li>Frying is not allowed as a way of preparing foods on-site.</li>
	<li>Ounce equivalents (oz eq) are used to determine the amount of creditable grains (starting October 1, 2019).</li>
	<li>Tofu counts as a meat alternate.</li>
	<li>Juice is limited to once per day.</li>
</ul>
