.circle-green {
    border-radius: 50%;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    vertical-align: middle;
    color: green;
	font-size: 1.2em;
	margin:10 auto;    
}

.circle-grey {
    border-radius: 50%;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    vertical-align: middle;
    color: grey;
	font-size: 1.2em;
	margin:0 auto;    
}

.small_image {
  min-height: 32px;
  height: 32px;
  min-width: 32px;
  width: 32px;
}