
<div class="card">
	<div class="card-header">
		<div class="card-title">
			<h3 *ngIf="!editing" (click)="editing = !editing">
				<span class="pull-right" >
					<a><small class="text-primary"><i class="fa fa-pencil"></i> Edit </small></a>
					<a><small class="text-danger"><i class="fa fa-trash"></i> Delete </small></a>
				</span>
				<em>{{ mealForm.get('name').value || "New Meal" }}</em>
				<small>{{ mealForm.get('type').value || "Type"}}</small>
			</h3>
		
			<form *ngIf="editing" novalidate [formGroup]="mealForm" >
				<div class="row">
					<div class="form-group col-sm-2">
						<label for="type">Type</label>
						<select #type class="form-control" formControlName="type" (blur)="editing = (mealForm.valid)? !editing : editing">
							<option value="BREAKFAST">Breakfast</option>
							<option value="AM_SNACK">AM Snack</option>
							<option value="LUNCH">Lunch</option>
							<option value="PM_SNACK">PM Snack</option>
							<option value="DINNER">Dinner</option>
						</select>
						<small class="text-danger" *ngIf="mealForm.get('type').hasError('required')">Type is required</small>
					</div>
		
					<div class="form-group col-sm-4">
						<label for="name"></label>
						<input #name class="form-control" placeholder="Meal Name" formControlName="name" (blur)="editing = (mealForm.valid)? !editing : editing"/> 
						<small class="text-danger" *ngIf="mealForm.get('name').hasError('required')">Name is required</small>
					</div>		
				</div>				
			</form>
		</div>
	
	</div>
	
	<div class="card-content">
			<h5>Age Group</h5>
				<div class="btn-group">
	  				<label *ngFor="let grp of ['AGE_0_5MO', 'AGE_6_11MO', 'AGE_1_2YR', 'AGE_3_5YR', 'AGE_6_12YR', 'AGE_13_18YR', 'AGE_ADULT' ]" 
	  					   class="btn"
	  					   [class.btn-warning]="grp === currentAgeGroup" (click)="activateTab(grp)">
	  					{{grp.substring(4).replace('_','-').replace('MO',' MO').replace('YR',' YR')}}
	  				</label>
				</div>	
			<a (click)="showGuidance = !showGuidance"><small class="text-primary"><i class="fa fa-book"></i> Guidance </small></a>					
			<hr />
			
			<alert type="local" *ngIf="showGuidance && mealForm.valid">
				<h4 class="alert-heading">Guidance for {{currentAgeGroup.substring(4).replace('_','-').replace('MO',' MO').replace('YR',' YR')}} {{mealForm.get('type').value.toLowerCase() }}</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a fringilla nisi. Morbi sed vestibulum ligula, at venenatis tortor. Nullam non velit arcu. Maecenas vulputate commodo neque sit amet consectetur. Vivamus consectetur tortor nec enim tincidunt, ut vulputate ipsum ornare. In pellentesque purus non justo porta, sit amet vulputate quam porttitor. Pellentesque scelerisque, leo eu semper ultricies, arcu velit malesuada libero, quis vulputate mauris augue in orci. Nulla suscipit tellus id ullamcorper consectetur.</p>
				<p>Nunc facilisis viverra bibendum. In et pretium sapien, vel iaculis elit. Morbi varius, erat quis sagittis vehicula, magna lorem aliquam lacus, sit amet venenatis ligula augue vulputate nisl. Aliquam mollis rhoncus sem nec ornare. Morbi quis lacus lectus. Morbi tempus urna eu vehicula luctus. Suspendisse hendrerit aliquet suscipit. Vestibulum malesuada fringilla libero, ac vehicula nibh. Morbi ut tellus arcu</p>
			</alert>
			
			<alert *ngFor="let violation of rulesViolations" [type]="(violation.severity === 'FAIL') ? 'danger' : (violation.severity === 'FAIL') ? 'warning' : 'info'">
				<h4 class="alert-heading">
					<i class="fa" 
					   [class.fa-exclamation-triangle]="violation.severity === 'FAIL'"
					   [class.fa-exclamation-circle]="violation.severity === 'WARN'"
					   [class.fa-info-circle]="violation.severity === 'INFO'"
					   [class.fa-question-circle]="violation.severity === 'UNKNOWN'"></i> 
					   {{violation.severity}} 
				</h4>
				   
				   <p>{{violation.message}}</p>		
			</alert>
						
			<hr *ngIf="rulesViolations.length > 0" />

			<div *ngFor="let mealFoodItem of foodItemsForAgeGroup( currentAgeGroup )" class="panel panel-default">
				<form novalidate [formGroup]="foodItemForm[currentAgeGroup].controls[ mealFoodItem.id ]">
					<div class="row">
						<span class="col-sm-1">
							<i class="cw-icon" style="font-size: 5em;" [ngClass]="mealFoodItem.foodComponent.icon ? mealFoodItem.foodComponent.icon : 'icon-food'"></i>
						</span>					
				    
						<span class="col-xs-12 col-sm-6">
							<label>{{mealFoodItem.foodComponent.description}}</label>
							<input class="form-control" formControlName="description"
							       [typeahead]="foodForComponent( mealFoodItem.foodComponent )"
							       (typeaheadOnSelect)="foodItemForm[currentAgeGroup].controls[mealFoodItem.id].patchValue( {foodItem: $event.item } )"
								   typeaheadOptionField="description" typeaheadOptionsLimit="15" />
						</span>
						<span class="col-xs-12 col-sm-2 "> 
							<label>Quantity</label> 
							<input class="form-control" formControlName="quantity" value="0">
						</span> 
						<span class="col-xs-12 col-sm-2"> 
							<label>Units</label> 
							<select class="form-control" formControlName="unit">
								<option value="each">each</option>
								<option value="oz">oz</option>
								<option value="slice">slice</option>
								<option value="lbs">lbs</option>
							</select>
						</span> 
						<span class="col-sm-1">
							<i class="text-danger pull-right fa fa-close" (click)="removeComponent(mealFoodItem)"></i>
						</span>
					</div>
				</form>
			</div>
											

					<div *ngIf="foodItemsForAgeGroup( currentAgeGroup ).length == 0">
						<strong>No food items found for age group {{currentAgeGroup.substring(4).replace('_','-').replace('MO',' MO').replace('YR',' YR')}}</strong>
					</div>
	</div>
	
	<div class="card-footer">
		<hr *ngIf="foodItemsForAgeGroup( currentAgeGroup ).length > 0" />

		<div class="btn-group" dropdown *ngIf="mealForm.valid && !editing">
			<a dropdownToggle class="dropdown-toggle"><i
				class="text-primary fa fa-plus"></i> Add Food Items</a>
			<ul *dropdownMenu class="dropdown-menu" role="menu">
			
				<ng-template ngFor let-top [ngForOf]="foodComponents">
					<li class="dropdown-header"><strong>{{top.description}}</strong></li>
					<li role="menuitem" *ngFor="let comp of top.children">
						<a class="dropdown-item" (click)="addComponent(comp)">{{comp.description}}</a>
					</li>
				</ng-template>
			</ul>
		</div>

		<div *ngIf="foodItemsForAgeGroup( currentAgeGroup ).length > 0"
			class="btn-group" dropdown [autoClose]="true" container="body"
			style="margin-left: 10px">
			<a dropdownToggle class="dropdown-toggle">
				<i class="text-primary fa fa-copy"></i> Copy To...</a>
			<ul *dropdownMenu class="dropdown-menu" role="menu">
				<li *ngIf="currentAgeGroup !== 'AGE_0_5MO'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_0_5MO')">0-5 MO</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE_6_11MO'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_6_11MO')">6-11 MO</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE_1_2YR'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_1_2YR')">1-2 YR</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE__5YR'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_3_5YR')">3-5 YR</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE_6_12YR'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_6_12YR')">6-12 YR</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE_13_18YR'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_13_18YR')">13-18
						YR</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE_ADULT'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_ADULT')">ADULT</a></li>
				<li class="divider dropdown-divider"></li>
				<li role="menuitem"><a class="dropdown-item"
					(click)="copyTo('ALL',currentAgeGroup)">ALL</a></li>
			</ul>
		</div>

	</div>
</div>


