
<form novalidate [formGroup]="mealForm">

	<!-- Name/Type -->
	<div class="form-group">
		<label for="name">Name</label>
		<input #name class="form-control" placeholder="Meal Name" formControlName="name" />
		<small class="text-danger" *ngIf="mealForm.get('name').hasError('required')">Name is required</small>
	</div>
	
	<div class="form-group">
	   	<label for="type">Type</label>
	   	<select #type class="form-control" formControlName="type">
	   		<option>Breakfast</option>
	   		<option>AM Snack</option>
	   		<option>Lunch</option>
	   		<option>PM Snack</option>
	   		<option>Dinner</option>	    			
	   	</select>
	</div>
	
	<label>Age Group</label>
	<!-- Agegroup tabs -->
	<tabset [justified]="true">
		<tab *ngFor="let ageGroup of ['AGE_0_5MO', 'AGE_6_11MO', 'AGE_1_2YR', 'AGE_3_5YR', 'AGE_6_12YR', 'AGE_13_18YR', 'AGE_ADULT' ]" (select)="activateTab(ageGroup)"> 
		
			<ng-template tabHeading>{{ageGroup.substring(4).replace('_','-').replace('MO', ' MO').replace('YR',' YR')}}</ng-template>
	
			<div class="row">		
									
				<div class="col-sm-4">
				 <img class="img-responsive" src="/assets/img/placesetting.svg" />
				</div>
			
				<!-- Meal List -->	
				<div class="col-sm-8">
				
					 <div class="card">
					 
				    	<div class="card-header">
					    	<div class="card-title">
					    	Meal Components
					    	</div>
					   	</div> <!-- end card-header -->
					   	
					   	<div class="card-content">
							<ul class="list-group" >
								<li formArrayName="{{ageGroup}}" *ngFor="let item of mealForm.get(ageGroup).controls; let i = index" [style.border-left-color]="grey" style="border-left-width: 10px" class="list-group-item">
									<div [formGroupName]="i" class="form-group input-group input-group-unstyled" style="margin-top: 10px">
										<i class="cw-icon input-group-addon icon-cereals circle-green" style="font-size: 2.5em"></i>
										<span class="col-sm-7">
											<label>{{item.get('foodComponent').value.description}}</label>
											<input formControlName="description" 
												   class="form-control" 
												   [typeahead]="foodForComponent( item.get('foodComponent').value )"
												   (typeaheadOnSelect)="item.patchValue( { 'foodItemId': $event.item.id } )"
												   typeaheadOptionField="description"
				   								   typeaheadOptionsLimit="10"/>
										</span>
										<span class="col-sm-2">
											<label>Quantity</label>
											<input formControlName="quantity" class="form-control" value="0">
										</span>
										<span class="col-sm-2">
											<label>Units</label>
											<select class="form-control" formControlName="units">
												<option>each</option>
												<option>oz</option>
												<option>slice</option>
												<option>lbs</option>
											</select>
										</span>									
																			
										<i class="text-danger pull-right fa fa-close" (click)="removeComponent(i)"></i>						
									</div>
								</li>		
							</ul>
						</div> <!-- end card-content -->
						
						<div class="card-footer">
				        	<hr *ngIf="mealForm.get(ageGroup).controls.length>0" />
				          
					        <div class="btn-group" dropdown *ngIf="mealForm.get('name').valid && mealForm.get('type').valid">
								<a dropdownToggle class="dropdown-toggle"><i class="text-primary fa fa-plus"></i> Add</a>
									<ul *dropdownMenu class="dropdown-menu" role="menu">							 
										<li *ngFor="let top of foodComponents" role="menuitem" dropdown triggers="mouseover" placement="right" container="body" [autoClose]="true">
									    	<a dropdownToggle class="dropdown-item dropdown-toggle" (click)="false">{{top.description}}<span class="caret"></span></a>
									      	<ul *dropdownMenu class="dropdown-menu" role="menu">
									        	<li role="menuitem" *ngFor="let comp of top.children"><a class="dropdown-item" (click)="addComponent(comp)">{{comp.description}}</a></li>
									      	</ul>
									    </li>				    
									</ul>
							</div>
							
							
							<div *ngIf="mealForm.get(ageGroup).controls.length>0" class="btn-group" dropdown [autoClose]="true" container="body" style="margin-left: 10px">
								<a dropdownToggle class="dropdown-toggle" [class.disabled]="mealForm.get(ageGroup).controls.length == 0"><i class="text-primary fa fa-copy" ></i> Copy To...{{mealForm.get(ageGroup).controls.length}}</a>
								<ul *dropdownMenu class="dropdown-menu" role="menu">
									<li *ngIf="ageGroup !== 'AGE_0_5MO'" role="menuitem"><a class="dropdown-item" (click)="copyTo('AGE_0_5MO')">0-5 MO</a></li>
									<li *ngIf="ageGroup !== 'AGE_6_11MO'" role="menuitem"><a class="dropdown-item" (click)="copyTo('AGE_6_11MO')">6-11 MO</a></li>
									<li *ngIf="ageGroup !== 'AGE_1_2YR'" role="menuitem"><a class="dropdown-item" (click)="copyTo('AGE_1_2YR')">1-2 YR</a></li>
									<li *ngIf="ageGroup !== 'AGE__5YR'" role="menuitem"><a class="dropdown-item" (click)="copyTo('AGE_3_5YR')">3-5 YR</a></li>
									<li *ngIf="ageGroup !== 'AGE_6_12YR'" role="menuitem"><a class="dropdown-item" (click)="copyTo('AGE_6_12YR')">6-12 YR</a></li>
									<li *ngIf="ageGroup !== 'AGE_13_18YR'" role="menuitem"><a class="dropdown-item" (click)="copyTo('AGE_13_18YR')">13-18 YR</a></li>									
									<li *ngIf="ageGroup !== 'AGE_ADULT'" role="menuitem"><a class="dropdown-item" (click)="copyTo('AGE_ADULT')">ADULT</a></li>		
									<li class="divider dropdown-divider"></li>							
									<li role="menuitem"><a class="dropdown-item" (click)="copyTo('ALL',ageGroup)">ALL</a></li>									
								</ul>
							</div>
							 	
							
				      </div> <!-- end card-footer -->
				                                  		
					</div> <!-- end card -->
				</div> <!-- end Meal list -->
			</div> <!-- end row -->
		</tab>
	</tabset>

</form>
 
 
 
 
 
 

 