
<div class="card">
	<div class="card-header">
		<div class="card-title">
			<h3 *ngIf="!editing" >
				<span class="pull-right" >
					<a *ngIf="mealForm.get('name').value && mealForm.get('type').value"><small class="text-primary"><i class="fa fa-save"></i> Save </small></a>
					<small *ngIf="mealForm.get('name').value === undefined || mealForm.get('type').value === undefined" class="text-default"><i class="fa fa-save"></i> Save </small>							   
					<br/>
					<a><small class="text-danger"><i class="fa fa-trash"></i> Delete </small></a>
				</span>
				<span (click)="editing = !editing">
					<em>{{ mealForm.get('name').value || "New Meal" }}</em> <br />
					<small>{{ mealForm.get('type').value || "Unknown Type"}}</small><br/>
					<small *ngIf="mealForm.get('name').value === undefined || mealForm.get('type').value === undefined" 
							class="text-danger">You must name the meal and set the type before adding food items</small>
				</span>				
			</h3>
		
			<form *ngIf="editing" novalidate [formGroup]="mealForm" >
				<div class="row">
					<div class="form-group col-sm-2">
						<label for="type">Type</label>
						<select #type class="form-control" formControlName="type" (blur)="editing = (mealForm.valid)? !editing : editing">
							<option value="BREAKFAST">Breakfast</option>
							<option value="AM_SNACK">AM Snack</option>
							<option value="LUNCH">Lunch</option>
							<option value="PM_SNACK">PM Snack</option>
							<option value="DINNER">Dinner</option>
						</select>
						<small class="text-danger" *ngIf="mealForm.get('type').hasError('required')">Type is required</small>
					</div>
		
					<div class="form-group col-sm-4">
						<label for="name"></label>
						<input #name class="form-control" placeholder="Meal Name" formControlName="name" (blur)="editing = (mealForm.valid)? !editing : editing"/> 
						<small class="text-danger" *ngIf="mealForm.get('name').hasError('required')">Name is required</small>
					</div>		
				</div>				
			</form>
		</div>
	
	</div>
	
	<div class="card-content">
			<h5>Age Group</h5>
				<div class="btn-group">
	  				<label *ngFor="let grp of ['AGE_0_5MO', 'AGE_6_11MO', 'AGE_1_2YR', 'AGE_3_5YR', 'AGE_6_12YR', 'AGE_13_18YR', 'AGE_ADULT' ]" 
	  					   class="btn"
	  					   [class.btn-warning]="grp === currentAgeGroup" (click)="activateTab(grp)">
	  					{{grp.substring(4).replace('_','-').replace('MO',' MO').replace('YR',' YR')}}
	  				</label>
				</div>	
			<a (click)="showGuidance = !showGuidance"><small class="text-primary"><i class="fa fa-book"></i> Guidance </small></a>					
			<hr />
			
			<alert type="local" *ngIf="showGuidance && mealForm.valid">
				<h4 class="alert-heading">Meal Pattern Guidance for {{currentAgeGroup.substring(4).replace('_','-').replace('MO',' MO').replace('YR',' YR')}}</h4>
								
				<span>
					<span *ngIf="currentMeal.type === 'BREAKFAST'">
					<h5>BREAKFAST</h5>
					<ul *ngIf="currentAgeGroup === 'AGE_0_5MO'">
						<li>4-6 fl. oz. Breast Milk or Iron Fortified Infant Formula</li>
					</ul>
					<ul *ngIf="currentAgeGroup === 'AGE_6_11MO'">
						<li>4-6 fl. oz. Breast Milk or Iron Fortified Infant Formula</li>
						<li>2-4 tbsp. Iron Fortified Infant Cereal</li>
						<li>1-4 tbsp. Fruit or Vegetable or both</li>	
					</ul>
					
					<ul *ngIf="currentAgeGroup === 'AGE_1_2YR'">
						<li>Milk - 1/2 Cup</li>
						<li>Vegetables/Fruit - 1/4 Cup</li>
						<li>Grains - 1/2 oz eq <em>Note: Meat/alternates may replace the grains component up to three times per week.</em></li>
					</ul>
					<ul *ngIf="currentAgeGroup === 'AGE_3_5YR'">
						<li>Milk - 3/4 Cup</li>
						<li>Vegetables/Fruit - 1/2 Cup</li>
						<li>Grains - 1/2 oz eq <em>Note: Meat/alternates may replace the grains component up to three times per week.</em></li>
					</ul>
					<ul *ngIf="currentAgeGroup === 'AGE_6_12YR' || currentAgeGroup === 'AGE_13_18YR'">
						<li>Milk - 1 Cup</li>
						<li>Vegetables/Fruit - 1/2 Cup</li>
						<li>Grains - 1 oz eq <em>Note: Meat/alternates may replace the grains component up to three times per week.</em></li>
					</ul>
					<ul *ngIf="currentAgeGroup === 'AGE_ADULT'">
						<li>Milk - 1 Cup</li>
						<li>Vegetables/Fruit - 1/2 Cup</li>
						<li>Grains - 2 oz eq <em>Note: Meat/alternates may replace the grains component up to three times per week.</em></li>
					</ul>
					</span>
					
					<span *ngIf="currentMeal.type === 'LUNCH' || currentMeal.type === 'DINNER'">
					<h5>Lunch/Dinner</h5>
					<ul *ngIf="currentAgeGroup === 'AGE_0_5MO'">
						<li>4-6 fl. oz. Breast Milk or Iron Fortified Infant Formula</li>
					</ul>
					<ul *ngIf="currentAgeGroup === 'AGE_6_11MO'">
						<li>6-8 fl. oz. Breast Milk or Iron Fortified Infant Formula <strong>and</strong></li>
						<li>2-4 tbsp. Iron Fortified Infant Cereal <strong>and/or</strong></li>
						<li>1-4 tbsp. Meat, Fish, Poultry, Egg Yolk, or Cooked Dry Beans or Peas; <strong>or</strong></li> 
						<li>1/2 -2 oz. of Cheese; <strong>or</strong> </li>
						<li>1-4 oz. (volume) Cottage Cheese; <strong>or</strong> 
						<li>1-4 oz. (weight) of Cheese Food or Cheese Spread; <strong>and</strong>
						<li>1-4 tbsp. Fruit or Vegetable or both</li>
					</ul>
					
					<ul *ngIf="currentAgeGroup === 'AGE_1_2YR'">
						<li>Milk - 1/2 Cup</li>
						<li>Meat/Alternative - 1 oz </li>
						<li>Vegetables - 1/8 Cup</li>
						<li>Fruit - 1/8 Cup</li>
						<li>Grains - 1/2 oz eq</li>
					</ul>
					<ul *ngIf="currentAgeGroup === 'AGE_3_5YR'">
						<li>Milk - 3/4 Cup</li>
						<li>Meat/Alternative - 1 1/2 oz</li>
						<li>Vegetables - 1/4 Cup</li>
						<li>Fruit - 1/4 Cup</li>
						<li>Grains - 1/2 oz eq</li>
					</ul>
					<ul *ngIf="currentAgeGroup === 'AGE_6_12YR' || currentAgeGroup === 'AGE_13_18YR'">
						<li>Milk - 1 Cup</li>
						<li>Meat/Alternative - 2 oz</li>
						<li>Vegetables - 1/2 Cup</li>
						<li>Fruit - 1/4 Cup</li>
						<li>Grains - 1 oz eq</li>
					</ul>
					<ul *ngIf="currentAgeGroup === 'AGE_ADULT'">
						<li>Meat/Alternative - 2 oz</li>
						<li>Vegetables - 1/2 Cup</li>
						<li>Fruit - 1/2 Cup</li>
						<li>Grains - 2 oz eq</li>
					</ul>
					</span>
					
					<span *ngIf="currentMeal.type === 'AM_SNACK' || currentMeal.type === 'PM_SNACK'">
					<h5>Snack (AM and/or PM)</h5>
					<ul *ngIf="currentAgeGroup === 'AGE_0_5MO'">
						<li>4-6 fl. oz. Breast Milk or Iron Fortified Infant Formula</li>
					</ul>
					<ul *ngIf="currentAgeGroup === 'AGE_6_11MO'">
						<li>2-4 fl. oz. Breast Milk or Iron Fortified Infant Formula or Fruit Juice <strong>and</strong></li>
						<li>0-1/2 Slice Bread <strong>or</strong></li>
						<li>0-2 Crackers</li>
					</ul>
					
					<div *ngIf="currentAgeGroup !== 'AGE_0_5MO' || currentAgeGroup !== 'AGE_6_11MO'">
					Select at least 2 of the following:
					</div>
					<ul *ngIf="currentAgeGroup === 'AGE_1_2YR' || currentAgeGroup === 'AGE_3_5YR'">
						<li>Milk - 1/2 Cup</li>
						<li>Meat/Alternative - 1/2 oz</li>
						<li>Vegetables - 1/2 Cup</li>
						<li>Fruit - 1/2 Cup</li>
						<li>Grains - 1/2 oz eq</li>
					</ul>
					<ul *ngIf="currentAgeGroup === 'AGE_6_12YR' || currentAgeGroup === 'AGE_13_18YR'">
						<li>Milk - 1 Cup</li>
						<li>Meat/Alternative - 1 oz</li>
						<li>Vegetables - 3/4 Cup</li>
						<li>Fruit - 3/4 Cup</li>
						<li>Grains - 1 oz eq</li>
					</ul>
					<ul *ngIf="currentAgeGroup === 'AGE_ADULT'">
						<li>Milk - 1 Cup</li>
						<li>Meat/Alternative - 1 oz</li>
						<li>Vegetables - 1/2 Cup</li>
						<li>Fruit - 1/2 Cup</li>
						<li>Grains - 1 oz eq</li>
					</ul>
					</span>
					
					
					<h5>General</h5>
					<ul>
						<li *ngIf="currentAgeGroup === 'AGE_6_11MO'">Vegetable or fruit, or both, required to be served at snack for infants 6 through 11 months old.</li>
						<li *ngIf="currentAgeGroup === 'AGE_0_5MO' || currentAgeGroup === 'AGE_6_11MO'">Juice or cheese food or cheese spread are no longer allowed to be served.</li>
						<li *ngIf="currentAgeGroup === 'AGE_0_5MO' || currentAgeGroup === 'AGE_6_11MO'">Allows ready-to-eat cereals at snack.</li>
						<li>At least one serving of grains per day must be whole grain-rich.</li>
						<li>Grain-based desserts no longer count towards the grain component (sweet crackers allowed).</li>
						<li *ngIf="currentMeal.type === 'BREAKFAST'">Meat and meat alternates may be served in place of the entire grains component at breakfast a maximum of three times per week.</li>
						<li>Yogurt must contain no more than 23 grams of sugar per 6 ounces.</li>
						<li *ngIf="currentAgeGroup === 'AGE_1_2YR'">Unflavored whole milk must be served to 1 year olds;</li>
						<li *ngIf="currentAgeGroup === 'AGE_3_5YR'">Unflavored low-fat or fat-free milk must be served to children 2 through 5 years old;</li>
						<li *ngIf="currentAgeGroup === 'AGE_6_12YR' || currentAgeGroup === '13_18YR' || currentAgeGruop === 'AGE_ADULT'">Unflavored low-fat, unflavored fat-free, or flavored fat-free milk must be served to children 6 years old and older and adults.</li>
						<li>Non-dairy milk substitutes that are nutritionally equivalent to milk may be served in place of milk to children or adults with medical or special dietary needs.</li>
						<li *ngIf="currentMeal.type === 'BREAKFAST'">Breakfast cereals must contain no more than 6 grams of sugar per dry ounce.</li>
						<li>Frying is not allowed as a way of preparing foods on-site.</li>
						<li>Ounce equivalents (oz eq) are used to determine the amount of creditable grains (starting October 1, 2019).</li>
						<li>Tofu counts as a meat alternate.</li>
						<li>Juice is limited to once per day.</li>
					</ul>
				</span>
			</alert>
			
			<alert *ngFor="let violation of rulesViolationsForCurrentAgeGroup()" [type]="(violation.severity === 'FAIL') ? 'danger' : (violation.severity === 'FAIL') ? 'warning' : 'info'">
				<h4 class="alert-heading">
					<i class="fa" 
					   [class.fa-exclamation-triangle]="violation.severity === 'FAIL'"
					   [class.fa-exclamation-circle]="violation.severity === 'WARN'"
					   [class.fa-info-circle]="violation.severity === 'INFO'"
					   [class.fa-question-circle]="violation.severity === 'UNKNOWN'"></i> 
					   {{violation.severity}} 
				</h4>
				   
				   <p>{{violation.message}}</p>		
			</alert>
						
			<hr *ngIf="rulesViolationsForCurrentAgeGroup().length > 0" />

			<div *ngFor="let mealFoodItem of foodItemsForCurrentAgeGroup()" class="panel panel-default">
				<form novalidate [formGroup]="foodItemForm[currentAgeGroup].controls[ mealFoodItem.id ]">
					<div class="row">
						<span class="col-sm-1">
							<i class="cw-icon" style="font-size: 5em;" [ngClass]="mealFoodItem.foodComponent.icon ? mealFoodItem.foodComponent.icon : 'icon-food'"></i>
						</span>					
				    
						<span class="col-xs-12 col-sm-6">
							<label>{{mealFoodItem.foodComponent.description}}</label>
							<input class="form-control" formControlName="description"
							       [typeahead]="foodForComponent( mealFoodItem.foodComponent )"
							       (typeaheadOnSelect)="foodItemForm[currentAgeGroup].controls[mealFoodItem.id].patchValue( {foodItem: $event.item } )"
								   typeaheadOptionField="description" typeaheadOptionsLimit="15" />
						</span>
						<span class="col-xs-12 col-sm-2 "> 
							<label>Quantity</label> 
							<input class="form-control" formControlName="quantity" value="0">
						</span> 
						<span class="col-xs-12 col-sm-2"> 
							<label>Units</label> 
							<select class="form-control" formControlName="unit">
								<option value="EACH">EACH</option>
								<option value="OUNCES">OUNCES</option>
								<option value="CUPS">CUPS</option>
								<option value="LBS">LBS</option>
								<option value="SERVINGS">SERVING</option>
								<option value="UNITS">UNITS</option>
								<option value="GALLONS">GALLONS</option>
								<option value="TABLESPOONS">TABLESPOONS</option>
								<option value="TEASPOONS">TEASPOONS</option>								
							</select>
						</span> 
						<span class="col-sm-1">
							<i class="text-danger pull-right fa fa-close" (click)="removeComponent(mealFoodItem)"></i>
						</span>
					</div>
				</form>
			</div>
											

			<div *ngIf="foodItemsForCurrentAgeGroup().length == 0">
				<strong>No food items found for age group {{currentAgeGroup.substring(4).replace('_','-').replace('MO',' MO').replace('YR',' YR')}}</strong>
			</div>
	</div>
	
	<div class="card-footer">
		<hr *ngIf="foodItemsForCurrentAgeGroup().length > 0" />

		<div class="btn-group" dropdown *ngIf="mealForm.valid && !editing">
			<a dropdownToggle class="dropdown-toggle"><i
				class="text-primary fa fa-plus"></i> Add Food Items</a>
			<ul *dropdownMenu class="dropdown-menu" role="menu">
			
				<ng-template ngFor let-top [ngForOf]="foodComponents">
					<li class="dropdown-header"><strong>{{top.description}}</strong></li>
					<li role="menuitem" *ngFor="let comp of top.children">
						<a class="dropdown-item" (click)="addComponent(comp)">{{comp.description}}</a>
					</li>
				</ng-template>
			</ul>
		</div>

		<div *ngIf="foodItemsForCurrentAgeGroup().length > 0"
			class="btn-group" dropdown [autoClose]="true" container="body"
			style="margin-left: 10px">
			<a dropdownToggle class="dropdown-toggle">
				<i class="text-primary fa fa-copy"></i> Copy To...</a>
			<ul *dropdownMenu class="dropdown-menu" role="menu">
				<li *ngIf="currentAgeGroup !== 'AGE_0_5MO'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_0_5MO')">0-5 MO</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE_6_11MO'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_6_11MO')">6-11 MO</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE_1_2YR'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_1_2YR')">1-2 YR</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE__5YR'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_3_5YR')">3-5 YR</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE_6_12YR'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_6_12YR')">6-12 YR</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE_13_18YR'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_13_18YR')">13-18
						YR</a></li>
				<li *ngIf="currentAgeGroup !== 'AGE_ADULT'" role="menuitem"><a
					class="dropdown-item" (click)="copyTo('AGE_ADULT')">ADULT</a></li>
				<li class="divider dropdown-divider"></li>
				<li role="menuitem"><a class="dropdown-item"
					(click)="copyTo('ALL',currentAgeGroup)">ALL</a></li>
			</ul>
		</div>

	</div>
</div>


