<ng-sidebar-container style="height: 100vh;">
	<ng-sidebar [(opened)]="_opened" position='top' mode='push'>
		<div>
			<h2>Item</h2>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="description" class="control-label col-sm-2">Description</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="description"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="shortName">Short Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="shortName" />
					</div>
				</div>
			</form>
		</div>
	</ng-sidebar>

	<div ng-sidebar-content>
		<h1 class="text-primary">Food Items</h1>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Description</th>
					<th>Short Description</th>
					<th>Tags</th>
					<th>Ages</th>
					<th>Serving Units</th>
					<th>Purchase Units</th>
				</tr>
			</thead>
			<tr *ngFor="let foodItem of FoodItems" >
				<td class="col-sm-3">{{foodItem.description}}</td>
				<td class="col-sm-3">{{foodItem.shortDescription}}</td>
				<td class="col-sm-2">
					<img class="small-img" *ngIf="foodItem.category === 'MILK'" src="/assets/img/food/milk.svg" />
					<img class="small-img" *ngIf="foodItem.category === 'MEAT'" src="/assets/img/food/meat.svg" />
					<img class="small-img" *ngIf="foodItem.category === 'VEGETABLE'" src="/assets/img/food/vegetable.svg" />
					<img class="small-img" *ngIf="foodItem.category === 'FRUIT'" src="/assets/img/food/fruit.svg" />
					<img class="small-img" *ngIf="foodItem.category === 'GRAIN'" src="/assets/img/food/grain.svg" />
					<img class="small-img" *ngIf="foodItem.category === 'OTHER'" src="/assets/img/food/other.svg" />
					<img *ngIf="foodItem.isInfant()" class="small-img" src="/assets/img/food/infant.svg" />
					<img *ngIf="foodItem.isCN()" class="small-img" src="/assets/img/food/cn.svg" />				
				</td>
				<td class="col-sm-2">{{foodItem.agetagstring}}</td>
				<td class="col-sm-1">{{foodItem.servingUom}}</td>
				<td class="col-sm-1">{{foodItem.purchaseUom}}</td>
			</tr>
		
		</table>
	</div>

</ng-sidebar-container>