<ng-container *ngIf="!!person">
  <form [formGroup]="participantSchedule">
    <h2>{{person.firstName + ' ' + person.lastName}}</h2>
    <div class="row">
      <div class="col s4">
        <md-input-container>
          <input mdInput placeholder="Date" type="date" formControlName="date">
        </md-input-container>
        <div *ngIf="participantSchedule.get('date').hasError('required') && participantSchedule.get('date').dirty">Please enter the date</div>
      </div>
      <div class="col s4">
        <md-input-container>
          <input mdInput placeholder="Start time" type="text" formControlName="startTime">
        </md-input-container>
        <div *ngIf="participantSchedule.get('startTime').hasError('required') && participantSchedule.get('startTime').dirty">Please enter the start time</div>
      </div>
      <div class="col s4">
        <md-input-container>
          <input mdInput placeholder="End time" type="text" formControlName="endTime">
        </md-input-container>
        <div *ngIf="participantSchedule.get('endTime').hasError('required') && participantSchedule.get('endTime').dirty">Please enter the end time</div>
      </div>
      <div class="col s4">
        <md-select placeholder="Classroom" formControlName="roomId">
          <md-option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</md-option> 
        </md-select>
      </div>
    </div>
    <button md-raised-button (click)="click()" [disabled]="!participantSchedule.valid">Update Schedule</button>
  </form>
  <button md-button (click)="close()">Close</button>
</ng-container>

<style>
  label {
    margin-top: 10px;
    display: block;
  }

  button {
    float: right;
    top: 20px;
  }
  form {
    text-align: left;
    padding-left: 1em;
    width: 250px;
  }
</style>