:host {
  flex: 0 1 auto;
  padding: 10px;
  display: block;
}

.slot-staff {
  background: #ceceff;
  border: 1px solid blue;
}

.slot {
  flex: 0 1 auto;
  height: 2.2em;
  width: 8.9em;
  padding: 0 0.3em;
  margin: 0.1em;
}

.slot.arriving {
  color: #777777;
}

.slot.target {
  border: 1px solid blue;
}

.slot.above-target {
  border: 1px dashed blue;
}

.status-detail {
  font-size: 8pt;
  display: block;
}
