<cw-view-controls></cw-view-controls>

<section class="view-height">
  <ng-container [ngSwitch]="viewMode$ | async">
    <ng-container *ngSwitchCase="'SITE_OVERVIEW'">
      <div class="building " fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center">
        <md-card *ngFor="let room of (rooms$ | async) ; trackBy: trackRoomsBy" class="small-card">
          <md-card-header>
            <md-card-title>{{room.name}}</md-card-title>
          </md-card-header>
          <hr>
          <md-card-content>
            <cw-room-overview [room]="room.snapshot" [operation]="operation$ | async" fxFlex="0 0 220px">
            </cw-room-overview>
          </md-card-content>
        </md-card>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'ROOM_ASSIGNMENTS'">
      <div fxLayout="row">
        <div class="people-side-panel view-height" fxLayout="row" fxFlex="none">
          <cw-people-list fxFlex="0 1 content" [staff]="staff$ | async" [participants]="participants$ | async">
          </cw-people-list>
          <ng-container [ngSwitch]="operation$ | async">
            <cw-person-schedule-editor fxFlex="0 0 content" *ngSwitchCase="'REVIEW'"></cw-person-schedule-editor>
            <cw-person-schedule-editor fxFlex="0 0 content" *ngSwitchCase="'SCHEDULE'"></cw-person-schedule-editor>
            <cw-person-timeline fxFlex="0 0 content" *ngSwitchCase="'LIVE'"></cw-person-timeline>
          </ng-container>
        </div>
        <div class="building view-height" fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center">
          <md-card *ngFor="let room of (rooms$ | async); trackBy: trackRoomsBy">
            <md-card-header>
              <md-card-title>{{room.name}}</md-card-title>
            </md-card-header>
            <hr>
            <md-card-content>
              <room-snapshot [room]="room.snapshot" [operation]="operation$ | async" fxFlex="0 0 300px">
              </room-snapshot>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'TIMELINE'">
      <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center">
        <md-card *ngFor="let room of (rooms$ | async); trackBy: trackRoomsBy">
          <md-card-header>
            <md-card-title>{{room.name}}</md-card-title>
          </md-card-header>
          <md-card-content>
            <cw-room-timeline [timeline]="room.timeline" [dateTime]="whichTime | async" [dayStart]="dayStart$ | async"></cw-room-timeline>
          </md-card-content>
        </md-card>
      </div>
    </ng-container>
  </ng-container>
</section>
