<div class="main-content">
    <div class="container-fluid">
        <div class="row">          
        	<div class="col-md-12">
                <div class="card ">
                    <div class="card-content">
 						<div class="row">
	                    	<div class="col-xs-7">
    	                		<div class="numbers pull-left">Butterfly<p class="text-left">North Valley</p></div>
    	                	</div>
                    		<div class="col-xs-5">
                                <div class="pull-right">
                                    <span class="label label-danger">
                                        Understaffed
                                    </span>
                                </div>
                            </div>
                    	</div>
                    	<div class="row">
                            <div class="col-xs-1">
                                <div class="icon-big icon-warning text-center">
                                    <img class="img-no-padding img-responsive" height="120" width="120" src="/assets/img/room/butterfly.svg" />
                                </div>
                            </div>
                            <div class="col-xs-11">
                                <div class="numbers">
                                    <p>Children</p>
                                    12
                                </div>
                                <div class="numbers">
                                    <p>Staff</p>
                                    1
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                            	<h3>Children</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
		                                            <img height="32" width="32" src="/assets/baby1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                </td>
                                                <td class="text-right">
                                                    Green, Kim
                                                </td>
                                                <td class="text-right">
                                                    Till 5:00 pm
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img height="32" width="32" src="/assets/baby5.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                </td>
                                                <td class="text-right">
                                                    Red, Joe
                                                </td>
                                                <td class="text-right">
                                                    Till 12:45 pm
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img height="32" width="32" src="/assets/baby6.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                </td>
                                                <td class="text-right">
                                                    Orange, Tommy
                                                </td>
                                                <td class="text-right">
                                                    Till 12:45 pm
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   <img height="32" width="32" src="/assets/baby7.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                </td>
                                                <td class="text-right">
                                                    Yellow, Jill
                                                </td>
                                                <td class="text-right text-muted">
                                                    Till 5:00 pm
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-1">
                                <h3>Staff</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>
</div>
</div>